In [1]:
import pandas as pd
import numpy as np

In [2]:
X_train = pd.read_pickle('News_train_df.pkl')
X_train.head()

,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,std_score,syllable_count,...,TFIDF_worked,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrong,TFIDF_wrote,TFIDF_year,TFIDF_yes,TFIDF_york,TFIDF_young
0,59.74,9.9,11.89,12.9,9.17,45,15.750000,11.07,9th and 10th grade,328,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.093445,0.0,0.0,0.0
1,63.19,8.5,9.51,9.8,8.26,111,8.285714,9.95,9th and 10th grade,1048,...,0.0,0.0,0.044127,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,56.49,11.1,11.73,14.3,8.83,114,16.750000,12.31,11th and 12th grade,1101,...,0.0,0.0,0.000000,0.0,0.039141,0.0,0.000000,0.0,0.0,0.0
3,42.14,14.6,12.72,17.4,10.41,67,21.333333,15.41,14th and 15th grade,413,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
4,66.07,9.5,8.99,11.8,9.06,164,15.250000,11.68,11th and 12th grade,1273,...,0.0,0.0,0.059652,0.0,0.000000,0.0,0.098837,0.0,0.0,0.0

In [3]:
X_test = pd.read_pickle('News_test_df.pkl')
X_test.head()

,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,std_score,syllable_count,...,TFIDF_worked,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrong,TFIDF_wrote,TFIDF_year,TFIDF_yes,TFIDF_york,TFIDF_young
0,50.60,13.4,11.21,16.4,9.37,87,16.25,15.07,13th and 14th grade,633,...,0.0,0.064598,0.0,0.04417,0.0,0.0,0.029874,0.0,0.0,0.0
1,34.05,13.5,15.61,16.1,9.80,74,15.00,13.76,13th and 14th grade,535,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.030699,0.0,0.0,0.0
2,64.41,8.1,9.91,9.4,8.22,56,15.50,8.51,8th and 9th grade,514,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0
3,61.06,9.4,11.37,11.6,9.00,120,15.25,11.55,11th and 12th grade,908,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.058853,0.0,0.0,0.0
4,33.24,13.8,16.71,17.2,13.33,16,15.00,16.97,16th and 17th grade,77,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0

In [4]:
y_train = pd.read_pickle('y_train.pkl')
y_train.head()

0    0
1    1
2    1
3    1
4    1
Name: real, dtype: int64

In [5]:
y_test = pd.read_pickle('y_test.pkl')
y_test.head()

0    1
1    1
2    0
3    0
4    1
Name: real, dtype: int64

In [6]:
X_train.drop('std_score', inplace = True, axis = 1)
X_train.head()

,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,syllable_count,word_count,...,TFIDF_worked,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrong,TFIDF_wrote,TFIDF_year,TFIDF_yes,TFIDF_york,TFIDF_young
0,59.74,9.9,11.89,12.9,9.17,45,15.750000,11.07,328,219,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.093445,0.0,0.0,0.0
1,63.19,8.5,9.51,9.8,8.26,111,8.285714,9.95,1048,693,...,0.0,0.0,0.044127,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,56.49,11.1,11.73,14.3,8.83,114,16.750000,12.31,1101,717,...,0.0,0.0,0.000000,0.0,0.039141,0.0,0.000000,0.0,0.0,0.0
3,42.14,14.6,12.72,17.4,10.41,67,21.333333,15.41,413,260,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
4,66.07,9.5,8.99,11.8,9.06,164,15.250000,11.68,1273,903,...,0.0,0.0,0.059652,0.0,0.000000,0.0,0.098837,0.0,0.0,0.0

In [7]:
X_test.drop('std_score', inplace = True, axis = 1)
X_test.head()

,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,syllable_count,word_count,...,TFIDF_worked,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrong,TFIDF_wrote,TFIDF_year,TFIDF_yes,TFIDF_york,TFIDF_young
0,50.60,13.4,11.21,16.4,9.37,87,16.25,15.07,633,433,...,0.0,0.064598,0.0,0.04417,0.0,0.0,0.029874,0.0,0.0,0.0
1,34.05,13.5,15.61,16.1,9.80,74,15.00,13.76,535,303,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.030699,0.0,0.0,0.0
2,64.41,8.1,9.91,9.4,8.22,56,15.50,8.51,514,351,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0
3,61.06,9.4,11.37,11.6,9.00,120,15.25,11.55,908,594,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.058853,0.0,0.0,0.0
4,33.24,13.8,16.71,17.2,13.33,16,15.00,16.97,77,42,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0