In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from functools import reduce
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct
from rapidfuzz import fuzz
import ftfy
import re

In [2]:
#First three datasets come from https://www.kaggle.com/datasets/stevenpeutz/misinformation-fake-news-text-dataset-79k

In [3]:
FN1 = pd.read_csv('DataSet_Misinfo_FAKE.csv', index_col=0)

In [4]:
FN1

                                                    text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
44422  The USA wants to divide Syria.\r\n\r\nGreat Br...
44423  The Ukrainian coup d'etat cost the US nothing ...
44424  The European Parliament falsifies history by d...
44425  The European Parliament falsifies history by d...
44426  A leading FSB officer, Segey Beseda, said duri...

[43642 rows x 1 columns]

In [5]:
FN1.head()

                                                text
0  Donald Trump just couldn t wish all Americans ...
1  House Intelligence Committee Chairman Devin Nu...
2  On Friday, it was revealed that former Milwauk...
3  On Christmas day, Donald Trump announced that ...
4  Pope Francis used his annual Christmas Day mes...

In [6]:
FN1.columns

Index(['text'], dtype='object')

In [7]:
#Adding a column to label it as real news or fake news as the datasets themselves were not labeled excpt for filename

In [8]:
FN1['real'] = 0

In [9]:
FN1

                                                    text  real
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
44422  The USA wants to divide Syria.\r\n\r\nGreat Br...     0
44423  The Ukrainian coup d'etat cost the US nothing ...     0
44424  The European Parliament falsifies history by d...     0
44425  The European Parliament falsifies history by d...     0
44426  A leading FSB officer, Segey Beseda, said duri...     0

[43642 rows x 2 columns]

In [10]:
FN1['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [11]:
TN1 = pd.read_csv('DataSet_Misinfo_TRUE.csv', index_col=0)

In [12]:
TN1.head()

                                                text
0  The head of a conservative Republican faction ...
1  Transgender people will be allowed for the fir...
2  The special counsel investigation of links bet...
3  Trump campaign adviser George Papadopoulos tol...
4  President Donald Trump called on the U.S. Post...

In [13]:
TN1.columns

Index(['text'], dtype='object')

In [14]:
#Again adding a column to the data as it was not labelled as real or fake within dataset

In [15]:
TN1['real'] = 1

In [16]:
TN1

                                                    text  real
0      The head of a conservative Republican faction ...     1
1      Transgender people will be allowed for the fir...     1
2      The special counsel investigation of links bet...     1
3      Trump campaign adviser George Papadopoulos tol...     1
4      President Donald Trump called on the U.S. Post...     1
...                                                  ...   ...
34970  Most conservatives who oppose marriage equalit...     1
34971  The freshman senator from Georgia quoted scrip...     1
34972  The State Department told the Republican Natio...     1
34973  ADDIS ABABA, Ethiopia —President Obama convene...     1
34974  Jeb Bush Is Suddenly Attacking Trump. Here's W...     1

[34975 rows x 2 columns]

In [17]:
TN1['text'][0]

'The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a “fiscal conservative” on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBS’ “Face the Nation,” drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense “discretionary” spending on programs that support education, scientific research, infrastructure, public health and environmental protection. “The (Trump) administration has already been willing to say: ‘We’re going to increase non-defense discretionary spending ... by about 7 percent,’” Meadows, chairman of the small but influential House Freedom Caucus, said on the program. “Now, Democrats are saying that’s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I don’t see where the rationale is. ... Eventually you run out of other people’s money,” he said. Meadows was among Republicans who voted in late December for their party’s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. “It’s interesting to hear Mark talk about fiscal responsibility,” Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. “This is one of the least ... fiscally responsible bills we’ve ever seen passed in the history of the House of Representatives. I think we’re going to be paying for this for many, many years to come,” Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or “entitlement reform,” as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, “entitlement” programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryan’s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the “Dreamers,” people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. “We need to do DACA clean,” she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid.'

In [18]:
RusN = pd.read_csv('EXTRA_RussianPropagandaSubset.csv', index_col=0)

In [19]:
RusN

                                                   text
0     Ukraine has put itself in a situation when ext...
1     Regardless who was behind the recent attack on...
2     Pilsudski is a historical figure, who establis...
3     Washington (and to a large degree Brussels) ar...
4     The beneficiary of the resolution of the Europ...
...                                                 ...
7364  The USA wants to divide Syria.\r\n\r\nGreat Br...
7365  The Ukrainian coup d'etat cost the US nothing ...
7366  The European Parliament falsifies history by d...
7367  The European Parliament falsifies history by d...
7368  A leading FSB officer, Segey Beseda, said duri...

[7369 rows x 1 columns]

In [20]:
RusN.columns

Index(['text'], dtype='object')

In [21]:
#Russian propaganda extra dataset from Kaggle, again fake and needs labelled

In [22]:
RusN['real'] = 0

In [23]:
RusN

                                                   text  real
0     Ukraine has put itself in a situation when ext...     0
1     Regardless who was behind the recent attack on...     0
2     Pilsudski is a historical figure, who establis...     0
3     Washington (and to a large degree Brussels) ar...     0
4     The beneficiary of the resolution of the Europ...     0
...                                                 ...   ...
7364  The USA wants to divide Syria.\r\n\r\nGreat Br...     0
7365  The Ukrainian coup d'etat cost the US nothing ...     0
7366  The European Parliament falsifies history by d...     0
7367  The European Parliament falsifies history by d...     0
7368  A leading FSB officer, Segey Beseda, said duri...     0

[7369 rows x 2 columns]

In [24]:
RusN['text'][0]

'Ukraine has put itself in a situation when external forces dictate how it should solve its internal problems. Kyiv expected that its Western allies will put pressure on Russia in the Normandy Four format. However, the allies realised that their confrontation with Russia will cost them more. Emmanuel Macron and Angela Merkel supported Russia\'s position and put even bigger pressure on Ukraine than Vladimir Putin did. Eventually Zelenskyy found himself in solitude, because Russia, Germany, and France had nearly identical positions regarding the resolution of the civil conflict in Ukraine. Ukrainian politicians wrongfully remain confident that the West will always unconditionally support any Russophobic regime and that Ukraine can just carry out its foreign policy and security under the West\'s authority to enjoy its protection.\r\n\r\nUkraine could slam the door and declare that it no longer needs the Normandy format. However, it is the last remaining material evidence of Ukraine\'s unity with the West and of its "movement" towards Europe, which Kyiv can present to the Ukrainian people. If the truth is told to the Ukrainians that Europe, represented by Paris and Berlin, is already playing along with Russia, then Ukrainian people will reasonably question, for what were people sacrificed and state and society destroyed, if in the end, Europe betrayed Ukraine, Ukraine will never be in the EU, and a "bright future" will never come.'

In [25]:
# Remaining datasets come from https://www.kaggle.com/datasets/emineyetm/fake-news-detection-datasets

In [26]:
FN2 = pd.read_csv('FAKE.csv')

In [27]:
FN2

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [28]:
FN2['real'] = 0

In [29]:
FN2

,title,text,subject,date,real
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [30]:
FN2.isnull().values.any()

False

In [31]:
#Have to eliminate close duplicates

In [32]:
FN2['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [33]:
TN2 = pd.read_csv('TRUE.csv')

In [34]:
TN2.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [35]:
TN2.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [36]:
#This dataset also does not have a label for fake or real news

In [37]:
TN2['real'] = 1

In [38]:
TN2

,title,text,subject,date,real
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [39]:
#Concerning that the datasets seem to have to first articles as nearly identical.

In [40]:
TN2['text'][0]

'WASHINGTON (Reuters) - The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a “fiscal conservative” on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBS’ “Face the Nation,” drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense “discretionary” spending on programs that support education, scientific research, infrastructure, public health and environmental protection. “The (Trump) administration has already been willing to say: ‘We’re going to increase non-defense discretionary spending ... by about 7 percent,’” Meadows, chairman of the small but influential House Freedom Caucus, said on the program. “Now, Democrats are saying that’s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I don’t see where the rationale is. ... Eventually you run out of other people’s money,” he said. Meadows was among Republicans who voted in late December for their party’s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. “It’s interesting to hear Mark talk about fiscal responsibility,” Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. “This is one of the least ... fiscally responsible bills we’ve ever seen passed in the history of the House of Representatives. I think we’re going to be paying for this for many, many years to come,” Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or “entitlement reform,” as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, “entitlement” programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryan’s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the “Dreamers,” people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. “We need to do DACA clean,” she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid. '

In [41]:
#Combining the first three datasets as they have similar columns, method was chosen for less lines of code

In [42]:
News_df = reduce(lambda  left,right: pd.merge(left,right,on=['text', 'real'],
                                            how='outer'), [FN1, TN1, RusN])

In [43]:
News_df.columns

Index(['text', 'real'], dtype='object')

In [44]:
#This checks the first three datasets for empty values. Surprisingly there are some. I will eliminate them

In [45]:
News_df.isnull().values.any()

True

In [46]:
null_counts = News_df.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

text    32
dtype: int64

In [47]:
News_df.dropna(inplace = True)
News_df

                                                    text  real
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
85403  It is not the border between Norway and Russia...     0
85404  NATO soldiers in uniforms are scaring away Rus...     0
85405  Russia agrees with China's stance on US and We...     0
85406  \r\n\r\nTallinn is fighting furiously with its...     0
85407  The Baltic states joined the Soviet Union in a...     0

[85376 rows x 2 columns]

In [48]:
News_df.isnull().values.any()

False

In [49]:
#Inserting these columns for ease of the reduce method of joining dataframes.

In [50]:
News_df['subject'] = np.nan
News_df['title'] = np.nan
News_df['date'] = np.nan

In [51]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,NaN,NaN,NaN
1,House Intelligence Committee Chairman Devin Nu...,0,NaN,NaN,NaN
2,"On Friday, it was revealed that former Milwauk...",0,NaN,NaN,NaN
3,"On Christmas day, Donald Trump announced that ...",0,NaN,NaN,NaN
4,Pope Francis used his annual Christmas Day mes...,0,NaN,NaN,NaN
...,...,...,...,...,...
85403,It is not the border between Norway and Russia...,0,NaN,NaN,NaN
85404,NATO soldiers in uniforms are scaring away Rus...,0,NaN,NaN,NaN
85405,Russia agrees with China's stance on US and We...,0,NaN,NaN,NaN
85406,\r\n\r\nTallinn is fighting furiously with its...,0,NaN,NaN,NaN
85407,The Baltic states joined the Soviet Union in a...,0,NaN,NaN,NaN

In [52]:
News_df.isnull().values.any()

True

In [53]:
News_df.isnull()

        text   real  subject  title  date
0      False  False     True   True  True
1      False  False     True   True  True
2      False  False     True   True  True
3      False  False     True   True  True
4      False  False     True   True  True
...      ...    ...      ...    ...   ...
85403  False  False     True   True  True
85404  False  False     True   True  True
85405  False  False     True   True  True
85406  False  False     True   True  True
85407  False  False     True   True  True

[85376 rows x 5 columns]

In [54]:
News_df = News_df.fillna('None')

In [55]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,None,None,None
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
2,"On Friday, it was revealed that former Milwauk...",0,None,None,None
3,"On Christmas day, Donald Trump announced that ...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
...,...,...,...,...,...
85403,It is not the border between Norway and Russia...,0,None,None,None
85404,NATO soldiers in uniforms are scaring away Rus...,0,None,None,None
85405,Russia agrees with China's stance on US and We...,0,None,None,None
85406,\r\n\r\nTallinn is fighting furiously with its...,0,None,None,None
85407,The Baltic states joined the Soviet Union in a...,0,None,None,None

In [56]:
#Combining all the data

In [57]:
News_df = reduce(lambda  left,right: pd.merge(left,right,on=['text', 'real', 'subject', 'title', 'date'],
                                            how='outer'), [News_df, TN2, FN2])

In [58]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,None,None,None
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
2,"On Friday, it was revealed that former Milwauk...",0,None,None,None
3,"On Christmas day, Donald Trump announced that ...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
...,...,...,...,...,...
130269,21st Century Wire says As 21WIRE reported earl...,0,Middle-east,McPain: John McCain Furious That Iran Treated ...,"January 16, 2016"
130270,21st Century Wire says It s a familiar theme. ...,0,Middle-east,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,"January 16, 2016"
130271,Patrick Henningsen 21st Century WireRemember ...,0,Middle-east,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,"January 15, 2016"
130272,21st Century Wire says Al Jazeera America will...,0,Middle-east,How to Blow $700 Million: Al Jazeera America F...,"January 14, 2016"
130273,21st Century Wire says As 21WIRE predicted in ...,0,Middle-east,10 U.S. Navy Sailors Held by Iranian Military ...,"January 12, 2016"

In [59]:
#Obviously there are duplicates, what might be a good cut off to eliminate the duplicates. Also are the datasets basically the
#same? Might be a limitation on Fake News training in general. 
#Partial was chosen as topics may be similar and reword certain ideas, but different news sources.

In [60]:
fuzz.partial_ratio(FN2['text'][0],FN1['text'][0])

100.0

In [61]:
x = (len(News_df['text'])-1)

In [62]:
#Traditional fuzzy matching was taking too long and 
#I did not need to compare every letter to itself.
#Also I limited number of characters and increased chunksize of text for increased efficiency with little theoretical downside. 
#Thus Tdidf was already implemented in the finding of near duplicates
#code adapted from https://towardsdatascience.com/fuzzy-matching-at-scale-84f2bfd0c536 and
#https://bergvca.github.io/2017/10/14/super-fast-string-matching.html
#citation for ftfy: Robyn Speer. (2021). ftfy (Version 6.0).

In [63]:
def ngrams(string, n = 3):
    string = ftfy.fix_text(string)
    string = string.encode('ascii', errors='ignore').decode()
    string = string.lower()
    chars_to_remove = [')',')','.','|','[',']','{','}',"'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',',' ')
    string = string.replace('-', ' ')
    string = string.replace('\n', '')
    string = string.title()
    string = re.sub(' +',' ',string).strip()
    string = ' '+ string +' '
    #string = re.sub(r'[,-./]|\sBD',r'', string) (test this later)
    ngrams = zip(*[string[i:40] for i in range (n)])
    return [''.join(ngram) for ngram in ngrams]

In [64]:
News_arts = News_df['text'].unique()
vectorizer = TfidfVectorizer(min_df=1, analyzer = ngrams)
tf_idf_matrix = vectorizer.fit_transform(News_arts)

In [65]:
#print(tf_idf_matrix)

In [66]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)
    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)
    return csr_matrix((data,indices,indptr),shape=(M,N))

In [67]:
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(),1000,.9)

In [68]:
def get_matches_df(sparse_matrix, name_vector, top=100):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [69]:
#Nothing below 1.0 seems to be an exact match, lets look at it sorted

In [70]:
matches_df = get_matches_df(matches, News_df['text'], top=1000)
matches_df = matches_df[matches_df['similairity'] < 0.99999]
matches_df.sample(20)

,left_side,right_side,similairity
737,Former reality show star Donald Trump has alwa...,(Reuters) - Six U.S. Senate Democrats on Thurs...,0.943554
245,White House Chief of Staff John Kelly is a Fou...,-Onions -Red peppers \nNotice they are all hea...,0.978108
248,White House Chief of Staff John Kelly is a Fou...,Abby Martin Exposes What Hillary Clinton Reall...,0.939113
241,White House Chief of Staff John Kelly is a Fou...,DUBAI (Reuters) - Iran said on Wednesday it ha...,0.978108
246,White House Chief of Staff John Kelly is a Fou...,Countering Hillary’s Coup With a Counter Coup ...,0.978108
243,White House Chief of Staff John Kelly is a Fou...,BNI Store Nov 6 2016 Like a good little sharia...,0.978108
72,Former reality show star Donald Trump just can...,Former reality show star Donald Trump has alwa...,0.943554
898,Donald Trump s son-in-law Jared Kushner has fo...,"Jared Kushner, Donald Trump s son-in-law, has ...",0.934720
6,House Intelligence Committee Chairman Devin Nu...,"The private investigator, Robert Mueller, had ...",0.952208
738,Former reality show star Donald Trump has alwa...,Former reality show star Donald Trump just can...,0.943554
73,Former reality show star Donald Trump just can...,Former reality show star Donald Trump has repe...,0.943554
573,Former Attorney General Eric Holder responded ...,"Former Attorney General Eric Holder, who serve...",0.932853
74,Former reality show star Donald Trump just can...,Former reality show star Donald Trump launched...,0.929628
541,Milwaukee County Sheriff David Clarke seems li...,"Sheriff David Clarke of Milwaukee County, Wisc...",0.931491
933,"Jared Kushner, Donald Trump s son-in-law, has ...",Donald Trump s son-in-law Jared Kushner has fo...,0.934720
244,White House Chief of Staff John Kelly is a Fou...,By LAURA MOWAT \nLocals are fuming because the...,0.978108
86,Former reality show star Donald Trump has repe...,Former reality show star Donald Trump just can...,0.943554
798,Former reality show star Donald Trump launched...,Former reality show star Donald Trump has alwa...,0.941648
376,Republicans are desperately trying to repeal O...,Republicans are desperately trying to fix Dona...,0.958069
800,Former reality show star Donald Trump launched...,(Reuters) - Six U.S. Senate Democrats on Thurs...,0.929628

In [71]:
#It seems that we can reasonably assume that less than 1.0 are not duplicates

In [72]:
matches_df.sort_values(['similairity'], ascending=False).head(20)

,left_side,right_side,similairity
540,Milwaukee County Sheriff David Clarke seems li...,NATO intends to turn the entire country of Mon...,0.989785
539,Milwaukee County Sheriff David Clarke seems li...,Brussels and Washington accuse Russia of inter...,0.989785
247,White House Chief of Staff John Kelly is a Fou...,"A Birmingham, Alabama ABC affiliate sought out...",0.978108
241,White House Chief of Staff John Kelly is a Fou...,DUBAI (Reuters) - Iran said on Wednesday it ha...,0.978108
246,White House Chief of Staff John Kelly is a Fou...,Countering Hillary’s Coup With a Counter Coup ...,0.978108
245,White House Chief of Staff John Kelly is a Fou...,-Onions -Red peppers \nNotice they are all hea...,0.978108
244,White House Chief of Staff John Kelly is a Fou...,By LAURA MOWAT \nLocals are fuming because the...,0.978108
243,White House Chief of Staff John Kelly is a Fou...,BNI Store Nov 6 2016 Like a good little sharia...,0.978108
242,White House Chief of Staff John Kelly is a Fou...,The U.S. Justice Department on Monday said it ...,0.978108
5,House Intelligence Committee Chairman Devin Nu...,"If this keeps up, the Democrats will never win...",0.972838
374,Republicans are desperately trying to repeal O...,Republicans are desperately trying to convince...,0.963767
375,Republicans are desperately trying to repeal O...,Republicans are desperately trying to convince...,0.963767
921,It doesn t take a rocket scientist to know tha...,It doesn t take a rocket scientist to figure o...,0.962476
376,Republicans are desperately trying to repeal O...,Republicans are desperately trying to fix Dona...,0.958069
7,House Intelligence Committee Chairman Devin Nu...,"The private investigator, Robert Mueller, had ...",0.952208
6,House Intelligence Committee Chairman Devin Nu...,"The private investigator, Robert Mueller, had ...",0.952208
560,"Immigration and Customs Enforcement, better kn...",Is this just one more case of an activist judg...,0.952145
685,Donald Trump s conflicts of interest were of m...,Donald Trump s conflicts of interest are final...,0.951586
889,Donald Trump s conflicts of interest are final...,Donald Trump s conflicts of interest were of m...,0.951586
86,Former reality show star Donald Trump has repe...,Former reality show star Donald Trump just can...,0.943554

In [73]:
#I am inclined for simplicity sake to remove all with a similarity of 1.0, but lets look at these first 5
#There are 226 'exact matches' much less than I was fearful of at the beginning
#But I have to remember that this is a sample of the dataset. And that this is potentially 25% of my data.
# Lets run the original

In [74]:
matches_df = get_matches_df(matches, News_df['text'], top=1000)
matches_df = matches_df[matches_df['similairity'] ==1.0]
matches_df.sample(20)

,left_side,right_side,similairity
234,"Pearson, an educational publishing company, is...","Pearson, an educational publishing company, is...",1.0
766,It s certainly no secret that Trump struggles ...,It s certainly no secret that Trump struggles ...,1.0
759,Donald Trump doesn t read that s a well-know...,Donald Trump doesn t read that s a well-know...,1.0
792,"The NRA has a new favorite toy, but there are ...","The NRA has a new favorite toy, but there are ...",1.0
929,"Donald Trump Jr., Paul Manafort, Jared Kushner...","Donald Trump Jr., Paul Manafort, Jared Kushner...",1.0
453,This is what happens when racists don t get th...,This is what happens when racists don t get th...,1.0
712,"Wednesday morning, Donald Trump started his da...","Wednesday morning, Donald Trump started his da...",1.0
275,Donald Trump s administration is probably the ...,Donald Trump s administration is probably the ...,1.0
363,"Wow, it s like a president can t even get a ...",WASHINGTON (Reuters) - President Donald Trump ...,1.0
990,Star Trek legend George Takei gloriously shred...,Star Trek legend George Takei gloriously shred...,1.0
179,Can things get any worse for Papa John s Pizza...,Can things get any worse for Papa John s Pizza...,1.0
909,"At a rally last year, Donald Trump said there ...","At a rally last year, Donald Trump said there ...",1.0
296,With the rise of Donald Trump has also come th...,With the rise of Donald Trump has also come th...,1.0
303,Proving that Donald Trump and his administrati...,Proving that Donald Trump and his administrati...,1.0
922,"When Republicans talk about cutting taxes, the...","When Republicans talk about cutting taxes, the...",1.0
574,A Phoenix publication took to its Twitter acco...,A Phoenix publication took to its Twitter acco...,1.0
606,By now we re all familiar with Donald Trump s ...,By now we re all familiar with Donald Trump s ...,1.0
672,As more time passes after the violent riots re...,As more time passes after the violent riots re...,1.0
279,After a campaign in which he shamelessly pande...,After a campaign in which he shamelessly pande...,1.0
965,"As you are probably aware, Donald Trump loves ...","As you are probably aware, Donald Trump loves ...",1.0

In [75]:
matches_df.head(10)

,left_side,right_side,similairity
9,"On Christmas day, Donald Trump announced that ...","On Christmas day, Donald Trump announced that ...",1.0
13,In the wake of yet another court decision that...,In the wake of yet another court decision that...,1.0
14,Many people have raised the alarm regarding th...,Many people have raised the alarm regarding th...,1.0
25,Senate Majority Whip John Cornyn (R-TX) though...,Senate Majority Whip John Cornyn (R-TX) though...,1.0
27,"In this #METOO moment, many powerful men are b...","In this #METOO moment, many powerful men are b...",1.0
33,Judge Jeanine Pirro has continued her screamy...,CHICAGO (Reuters) - Agriculture leaders includ...,1.0
34,Judge Jeanine Pirro has continued her screamy...,Judge Jeanine Pirro has continued her screamy...,1.0
35,Donald Trump held a rally for Alabama Senate c...,Donald Trump held a rally for Alabama Senate c...,1.0
45,Arizona Republican Senator Jeff Flake has neve...,Arizona Republican Senator Jeff Flake has neve...,1.0
64,"While most of us were sleeping, Donald Trump s...","While most of us were sleeping, Donald Trump s...",1.0

In [76]:
matches_df.tail(10)

,left_side,right_side,similairity
962,Republicans and Democrats are upset over Attor...,Republicans and Democrats are upset over Attor...,1.0
964,"As you are probably aware, Donald Trump loves ...","As you are probably aware, Donald Trump decide...",1.0
965,"As you are probably aware, Donald Trump loves ...","As you are probably aware, Donald Trump loves ...",1.0
980,For someone that ran on the Drain the Swamp ...,For someone that ran on the Drain the Swamp ...,1.0
983,Trump s numerous attacks on former FBI Directo...,Trump s numerous attacks on former FBI Directo...,1.0
984,Donald Trump just refuses to admit that most A...,Donald Trump just refuses to admit that most A...,1.0
988,Donald Trump and his vice-president are eager ...,Donald Trump and his vice-president are eager ...,1.0
990,Star Trek legend George Takei gloriously shred...,Star Trek legend George Takei gloriously shred...,1.0
993,"By now, everyone is used to the rank ignorance...","By now, everyone is used to the rank ignorance...",1.0
994,We all know that the GOP is the party of anti-...,We all know that the GOP is the party of anti-...,1.0

In [77]:
#It seems reasonable to assume that anything identified as similarity of 1.0 is indeed a duplicate. 
#Now to remove them. 
#I have to be careful as these were a sample of my datasets. 
#Let's confirm I don't have more than 8000 duplicates

In [78]:
matches_df = get_matches_df(matches, News_df['text'], top=8000)
matches_df = matches_df[matches_df['similairity'] ==1.0]
matches_df.reset_index(inplace = True)

In [79]:
if matches_df['left_side'][0] == News_df['text'][0]:
    print(True)

In [80]:
#2278 out of 130274 are duplicates, let's check percentage

In [81]:
2278/130274

0.01748622134884935

In [82]:
#Less than 2 percent, that is perfectly reasonable given that we are working with a few data sets. 
#Let's remove these from News_df

In [83]:
# just checking to make sure that matches_df retained the entire article

In [84]:
matches_df['left_side'][0]

'On Christmas day, Donald Trump announced that he would  be back to work  the following day, but he is golfing for the fourth day in a row. The former reality show star blasted former President Barack Obama for playing golf and now Trump is on track to outpace the number of golf games his predecessor played.Updated my tracker of Trump s appearances at Trump properties.71 rounds of golf including today s. At this pace, he ll pass Obama s first-term total by July 24 next year. https://t.co/Fg7VacxRtJ pic.twitter.com/5gEMcjQTbH  Philip Bump (@pbump) December 29, 2017 That makes what a Washington Post reporter discovered on Trump s website really weird, but everything about this administration is bizarre AF. The coding contained a reference to Obama and golf:  Unlike Obama, we are working to fix the problem   and not on the golf course.  However, the coding wasn t done correctly.The website of Donald Trump, who has spent several days in a row at the golf course, is coded to serve up the following message in the event of an internal server error: https://t.co/zrWpyMXRcz pic.twitter.com/wiQSQNNzw0  Christopher Ingraham (@_cingraham) December 28, 2017That snippet of code appears to be on all https://t.co/dkhw0AlHB4 pages, which the footer says is paid for by the RNC? pic.twitter.com/oaZDT126B3  Christopher Ingraham (@_cingraham) December 28, 2017It s also all over https://t.co/ayBlGmk65Z. As others have noted in this thread, this is weird code and it s not clear it would ever actually display, but who knows.  Christopher Ingraham (@_cingraham) December 28, 2017After the coding was called out, the reference to Obama was deleted.UPDATE: The golf error message has been removed from the Trump and GOP websites. They also fixed the javascript  =  vs  ==  problem. Still not clear when these messages would actually display, since the actual 404 (and presumably 500) page displays a different message pic.twitter.com/Z7dmyQ5smy  Christopher Ingraham (@_cingraham) December 29, 2017That suggests someone at either RNC or the Trump admin is sensitive enough to Trump s golf problem to make this issue go away quickly once people noticed. You have no idea how much I d love to see the email exchange that led us here.  Christopher Ingraham (@_cingraham) December 29, 2017 The code was f-cked up.The best part about this is that they are using the  =  (assignment) operator which means that bit of code will never get run. If you look a few lines up  errorCode  will always be  404          (@tw1trsux) December 28, 2017trump s coders can t code. Nobody is surprised.  Tim Peterson (@timrpeterson) December 28, 2017Donald Trump is obsessed with Obama that his name was even in the coding of his website while he played golf again.Photo by Joe Raedle/Getty Images.'

In [85]:
fuzz.ratio(News_df['text'][0],matches_df['left_side'][0])

42.24457384859714

In [86]:
News_df_s = News_df.sample(n = 1000)
News_df_s.reset_index(inplace = True)

In [87]:
x = len(matches_df)
dups = []
for i in range(1000):
    for j in range(x):
        if News_df_s['text'][i] is matches_df['left_side'][j]:
            print(i,j)
            dups.append(i)
dups

14 1248
14 1249
45 1660
189 540
189 541
225 56
226 1251
559 605
561 1047
561 1048
648 1244
754 362
777 338
793 1275
866 1146
887 1128

[14, 14, 45, 189, 189, 225, 226, 559, 561, 561, 648, 754, 777, 793, 866, 887]

In [88]:
News_df_s['text'][59][:100]

'DHAKA (Reuters) - Bangladesh is to buy rice from Myanmar, putting aside worsening relations over the'

In [89]:
matches_df['left_side'][1005][:100]

'Following a Boston judge s refusal to renew the temporary stay on Trump s Muslim ban, a federal judg'

In [90]:
News_df_s['text'][79][:100]

"The video of Yulia Skripal's interview, published by Reuters in May 2018, is fake. It was filmed in "

In [91]:
matches_df['left_side'][500][:100]

'White House press secretary Sean Spicer literally denied the meaning of alleged president Donald Tru'

In [92]:
News_df_s['text'][436][:100]

'I certainly hope Hillary picks Liz Warren for VP! She s such a miserable woman who decided to attack'

In [93]:
matches_df['left_side'][1156][:100]

'Israeli Prime Minister Benjamin Netanyahu threw a temper tantrum like a petulant child because the U'

In [94]:
News_df_s['text'][489][:100]

'BOMBSHELL AUDIO: Hillary Clinton Herself Recorded Calling for Rigging Election \nPresident Obama clai'

In [95]:
#matches_df['left_side'][2087][:100]

In [96]:
News_df_s['text'][588][:100]

'An intense and sustained push by U.S. evangelicals helped drive President Donald Trump s decision to'

In [97]:
# This for loop seems to adequately find the indices of the duplicates lets do this and check on the full dataset. 
#

In [98]:
x = len(matches_df)
y = len(News_df)
verify = []
dups = []
for i in range(y):
    for j in range(x):
        if News_df['text'][i] is matches_df['left_side'][j]:
            verify.append(j)
            dups.append(i)
dups

[3,
 7,
 8,
 19,
 21,
 27,
 27,
 28,
 35,
 54,
 59,
 59,
 70,
 71,
 71,
 75,
 78,
 82,
 82,
 88,
 88,
 95,
 96,
 98,
 98,
 100,
 103,
 109,
 113,
 114,
 114,
 118,
 120,
 121,
 126,
 143,
 144,
 148,
 159,
 161,
 165,
 166,
 168,
 170,
 177,
 180,
 187,
 189,
 192,
 192,
 193,
 195,
 198,
 203,
 205,
 210,
 215,
 216,
 217,
 220,
 221,
 224,
 227,
 228,
 232,
 244,
 245,
 249,
 251,
 257,
 257,
 259,
 264,
 281,
 297,
 305,
 305,
 307,
 313,
 317,
 323,
 323,
 327,
 338,
 338,
 338,
 345,
 345,
 350,
 364,
 377,
 380,
 380,
 382,
 386,
 392,
 394,
 394,
 400,
 402,
 408,
 409,
 415,
 423,
 423,
 430,
 438,
 447,
 454,
 458,
 458,
 465,
 472,
 476,
 481,
 486,
 488,
 489,
 494,
 496,
 499,
 505,
 507,
 509,
 512,
 515,
 522,
 534,
 536,
 544,
 551,
 553,
 560,
 561,
 562,
 572,
 573,
 584,
 604,
 605,
 610,
 616,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 625,
 628,
 630,
 630,
 631,
 636,
 642,
 643,
 645,
 648,
 651,
 652,
 655,
 660,
 664,
 664,
 666,
 668,
 669,
 670,
 671,
 674,
 677,
 684,
 687,
 688,
 690,
 695,
 698,
 699,
 705,
 708,
 710,
 714,
 716,
 717,
 718,
 724,
 731,
 734,
 736,
 744,
 749,
 752,
 768,
 774,
 775,
 776,
 778,
 779,
 785,
 791,
 792,
 796,
 798,
 805,
 819,
 824,
 826,
 826,
 841,
 844,
 845,
 849,
 851,
 854,
 855,
 861,
 862,
 867,
 868,
 869,
 876,
 881,
 882,
 887,
 895,
 899,
 901,
 902,
 905,
 909,
 913,
 916,
 922,
 923,
 923,
 924,
 925,
 925,
 925,
 925,
 925,
 925,
 925,
 928,
 932,
 936,
 944,
 948,
 951,
 954,
 958,
 961,
 967,
 967,
 969,
 970,
 972,
 973,
 979,
 981,
 983,
 994,
 994,
 995,
 1005,
 1005,
 1007,
 1008,
 1015,
 1020,
 1022,
 1025,
 1031,
 1037,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1042,
 1043,
 1045,
 1049,
 1050,
 1052,
 1059,
 1068,
 1071,
 1076,
 1077,
 1080,
 1083,
 1085,
 1087,
 1096,
 1100,
 1102,
 1105,
 1112,
 1115,
 1118,
 1119,
 1120,
 1121,
 1123,
 1125,
 1129,
 1131,
 1138,
 1145,
 1148,
 1151,
 1153,
 1154,
 1156,
 1170,
 1172,
 1180,
 1181,
 1182,
 1184,
 1186,
 1188,
 1202,
 1205,
 1215,
 1217,
 1223,
 1225,
 1230,
 1231,
 1237,
 1239,
 1241,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1254,
 1254,
 1263,
 1265,
 1267,
 1269,
 1277,
 1278,
 1288,
 1290,
 1298,
 1299,
 1302,
 1303,
 1306,
 1312,
 1323,
 1328,
 1332,
 1332,
 1337,
 1340,
 1341,
 1344,
 1350,
 1354,
 1354,
 1354,
 1354,
 1354,
 1354,
 1354,
 1357,
 1366,
 1367,
 1382,
 1386,
 1392,
 1401,
 1410,
 1411,
 1416,
 1423,
 1428,
 1431,
 1436,
 1444,
 1447,
 1448,
 1463,
 1465,
 1469,
 1480,
 1487,
 1488,
 1488,
 1489,
 1489,
 1489,
 1489,
 1489,
 1489,
 1489,
 1490,
 1491,
 1493,
 1496,
 1506,
 1525,
 1528,
 1529,
 1535,
 1535,
 1537,
 1538,
 1547,
 1550,
 1551,
 1551,
 1558,
 1562,
 1564,
 1570,
 1572,
 1573,
 1582,
 1582,
 1582,
 1582,
 1582,
 1582,
 1582,
 1584,
 1589,
 1590,
 1593,
 1594,
 1605,
 1606,
 1607,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1617,
 1620,
 1629,
 1629,
 1637,
 1639,
 1646,
 1647,
 1647,
 1656,
 1657,
 1662,
 1662,
 1663,
 1663,
 1664,
 1670,
 1672,
 1677,
 1681,
 1693,
 1697,
 1699,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1704,
 1706,
 1711,
 1712,
 1713,
 1721,
 1724,
 1734,
 1734,
 1734,
 1734,
 1734,
 1734,
 1734,
 1739,
 1740,
 1743,
 1744,
 1746,
 1752,
 1756,
 1767,
 1769,
 1777,
 1781,
 1783,
 1807,
 1809,
 1810,
 1814,
 1818,
 1845,
 1851,
 1852,
 1853,
 1853,
 1853,
 1854,
 1858,
 1860,
 1876,
 1888,
 1891,
 1893,
 1894,
 1894,
 1896,
 1898,
 1900,
 1906,
 1908,
 1911,
 1912,
 1913,
 1914,
 1917,
 1918,
 1919,
 1922,
 1929,
 1931,
 1935,
 1943,
 1944,
 1954,
 1955,
 1956,
 1956,
 1957,
 1960,
 1962,
 1964,
 1965,
 1966,
 1969,
 1970,
 1981,
 1982,
 1985,
 1985,
 1995,
 1998,
 1998,
 1999,
 2000,
 2002,
 2003,
 2004,
 2013,
 2018,
 2020,
 2021,
 2029,
 2033,
 2036,
 2041,
 2043,
 2044,
 2045,
 2046,
 2065,
 2068,
 2078,
 2085,
 2086,
 2090,
 2094,
 2097,
 2098,
 2100,
 2104,
 2107,
 2109,
 2110,
 2112,
 2113,
 2133,
 2137,
 2145,
 2146,
 2150,
 2152,
 2154,
 2159,
 2172,
 2175,
 2176,
 2181,
 2184,
 2187,
 2191,
 2195,
 2196,
 2197,
 2198,
 2203,
 2216,
 2218,
 2228,
 2236,
 2238,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2246,
 2250,
 2252,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2259,
 2260,
 2266,
 2269,
 2271,
 2275,
 2282,
 2285,
 2289,
 2294,
 2300,
 2306,
 2308,
 2313,
 2320,
 2324,
 2325,
 2332,
 2334,
 2337,
 2340,
 2343,
 2345,
 2353,
 2354,
 2355,
 2359,
 2368,
 2383,
 2388,
 2395,
 2396,
 2396,
 2397,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2408,
 2411,
 2419,
 2427,
 2430,
 2434,
 2437,
 2452,
 2455,
 2456,
 2457,
 2459,
 2461,
 2467,
 2471,
 2472,
 2473,
 2474,
 2476,
 2483,
 2483,
 2488,
 2492,
 2505,
 2509,
 2511,
 2519,
 2520,
 2523,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2531,
 2534,
 2537,
 2539,
 2544,
 2545,
 2554,
 2555,
 2558,
 2561,
 2570,
 2573,
 2575,
 2588,
 2590,
 2592,
 2593,
 2600,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2603,
 2605,
 2609,
 2613,
 2614,
 2617,
 2622,
 2627,
 2631,
 2637,
 2640,
 2641,
 2643,
 2645,
 2646,
 2654,
 2657,
 2662,
 2663,
 2667,
 2668,
 2670,
 2674,
 2679,
 2679,
 ...]

In [99]:
len(dups)

2048

In [100]:
len(matches_df)

2048

In [101]:
len(verify)

2048

In [102]:
verify

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [103]:
#verify is literally just the i of dups I want to look at some of the duplicates in dups e.g. 623

In [104]:
dups.index(623)

142

In [105]:
#code adapted from https://datagy.io/python-list-find-all-index/
def find_indices(list_to_check, item_to_find):
    indices = []
    for idx, value in enumerate(list_to_check):
        if value == item_to_find:
            indices.append(idx)
    return indices

print(find_indices(dups,623))

[142, 143, 144, 145, 146, 147, 148]

In [106]:
News_df['text'][623][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [107]:
matches_df['left_side'][142][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [108]:
matches_df['left_side'][143][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [109]:
matches_df['left_side'][144][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [110]:
matches_df['left_side'][145][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [111]:
matches_df['left_side'][146][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [112]:
matches_df['left_side'][147][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [113]:
matches_df['left_side'][148][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [114]:
#Everything seems to checkout so I am going to go ahead and drop the found duplicates

In [115]:
dups = list(set(dups))
len(dups)

1344

In [116]:
News_df.drop(index = dups, inplace = True)

In [117]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,None,None,None
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
2,"On Friday, it was revealed that former Milwauk...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
5,The number of cases of cops brutalizing and ki...,0,None,None,None
...,...,...,...,...,...
130269,21st Century Wire says As 21WIRE reported earl...,0,Middle-east,McPain: John McCain Furious That Iran Treated ...,"January 16, 2016"
130270,21st Century Wire says It s a familiar theme. ...,0,Middle-east,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,"January 16, 2016"
130271,Patrick Henningsen 21st Century WireRemember ...,0,Middle-east,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,"January 15, 2016"
130272,21st Century Wire says Al Jazeera America will...,0,Middle-east,How to Blow $700 Million: Al Jazeera America F...,"January 14, 2016"
130273,21st Century Wire says As 21WIRE predicted in ...,0,Middle-east,10 U.S. Navy Sailors Held by Iranian Military ...,"January 12, 2016"

In [118]:
News_df.to_pickle('News_df.pkl')