In [1]:
import pandas as pd
import numpy as np
import re
import time
import string
string.punctuation
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
nltk.download("punkt")
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
nltk.download("wordnet")
nltk.download("omw-1.4")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\danie\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\danie\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\danie\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [2]:
news_df = pd.read_pickle('News_df_scored.pkl')

In [3]:
news_df.head(2)

,text,real,subject,title,date,id,fe_score,fk_score,cl_score,ari_score,...,std_score,syllable_count,word_count,sentence_count,char_count,letter_count,polysyllab_count,monosyllab_count,clean_text,std_score_num
0,House Dem Aide: We Didn’t Even See Comey’s Let...,0,None,None,None,21508,57.61,10.7,11.02,13.3,...,11th and 12th grade,1249,815,37,4101,3980,96,516,house dem aide we didn t even see comey s let...,11.5
1,"Why the Truth Might Get You Fired October 29, ...",0,None,None,None,21509,51.68,10.9,11.49,12.5,...,10th and 11th grade,1938,1246,64,6405,6174,192,826,why the truth might get you fired october ...,10.5

In [6]:
cl_low = news_df[news_df['cl_score'] < 0]
cl_low

,text,real,subject,title,date,id,fe_score,fk_score,cl_score,ari_score,...,std_score,syllable_count,word_count,sentence_count,char_count,letter_count,polysyllab_count,monosyllab_count,clean_text,std_score_num
609,Zenit 2 2 0 0 9 3 6 \nDundalk 2 1 1 0 2 1 4 \n...,0,None,None,None,22509,19.34,31.6,-2.77,31.8,...,31st and 32nd grade,296,254,3,586,584,8,220,zenit dundalk al...,31.5
19641,Although the Nov. 8 U.S. presidential election...,1,None,None,None,56789,92.49,1.4,-1.16,0.6,...,0th and 1st grade,430,329,77,1388,1218,23,264,although the nov u s presidential election...,0.5
53905,WASHINGTON (Reuters) - Although the Nov. 8 U.S...,1,politicsNews,Factbox: Early voting starts next month in U.S...,"August 29, 2016",92385,92.49,1.4,-0.98,0.7,...,0th and 1st grade,434,331,77,1408,1235,24,265,washington reuters although the nov u s...,0.5

In [7]:
'still fuzzy duplicates, maybe I can leverage the readability scores further. Also need to remove item at 609'

'still fuzzy duplicates, maybe I can leverage the readability scores further. Also need to remove item at 609'

In [8]:
news_df['text'][19641][:350]

'Although the Nov. 8 U.S. presidential election is more than two months away, the first ballots will be cast in just a few weeks when several states begin early voting. Thirty-eight of the 50 U.S. states have some form of early voting in this year’s race between Democrat Hillary Clinton and Republican Donald Trump. Pushing supporters to vote early h'

In [10]:
news_df['text'][53905][:350]

'WASHINGTON (Reuters) - Although the Nov. 8 U.S. presidential election is more than two months away, the first ballots will be cast in just a few weeks when several states begin early voting. Thirty-eight of the 50 U.S. states have some form of early voting in this year’s race between Democrat Hillary Clinton and Republican Donald Trump. Pushing sup'

In [11]:
column_names = [
    'fe_score', 
    'fk_score',
    'cl_score',
    'ari_score',
    'dc_score',
    'dw_score',
    'ls_score',
    'gf_score',
    'std_score',
    'syllable_count',
    'word_count',
    'sentence_count',
    'char_count',
    'letter_count',
    'polysyllab_count',
    'monosyllab_count'
    ]

In [13]:
news_df.drop(609, inplace = True)
news_df.reset_index(drop = True, inplace = True)

In [14]:
news_df = news_df.sort_values(column_names)
news_df.head(50)

,text,real,subject,title,date,id,fe_score,fk_score,cl_score,ari_score,...,std_score,syllable_count,word_count,sentence_count,char_count,letter_count,polysyllab_count,monosyllab_count,clean_text,std_score_num
82913,21st Century Wire says The investigation team ...,0,Middle-east,Extreme Left #DISRUPTJ20 Plot to ‘Acid Bomb’ I...,"January 17, 2017",128501,0.09,28.7,14.17,34.7,...,34th and 35th grade,205,124,2,662,654,25,76,st century wire says the investigation team ...,34.5
9753,Historical documents newly released by Russia’...,0,None,None,None,35511,0.09,28.7,14.87,35.5,...,14th and 15th grade,105,62,1,341,334,14,35,historical documents newly released by russia ...,14.5
11350,Sputnik Estonia employees received letters fro...,0,None,None,None,45252,0.42,24.4,18.18,29.3,...,12th and 13th grade,84,45,1,270,268,11,23,sputnik estonia employees received letters fro...,12.5
82510,Wow! What a list of accomplishments! The probl...,0,left-news,THE LIST OF OBAMA’S HISTORIC FIRSTS AKA HOW CH...,"Apr 14, 2015",127312,0.59,28.5,14.87,35.6,...,28th and 29th grade,3123,1846,30,10298,9955,384,1090,wow what a list of accomplishments the probl...,28.5
10900,The UNESCO’s revised edition of the Internatio...,0,None,None,None,42310,0.76,20.1,20.43,23.8,...,19th and 20th grade,118,56,2,371,361,17,26,the unesco s revised edition of the internatio...,19.5
3215,A stunning Foreign Intelligence Service (SVR) ...,0,None,None,None,26210,0.80,28.4,15.16,36.1,...,28th and 29th grade,1429,858,14,4900,4669,147,507,a stunning foreign intelligence service svr ...,28.5
8164,A very sobering Ministry of Defense ( MoD ) re...,0,None,None,None,33083,1.14,30.3,14.53,38.7,...,22nd and 23rd grade,1247,762,11,4127,4024,125,456,a very sobering ministry of defense mod re...,22.5
1990,We Are Change \nIn this video Luke Rudkowski c...,0,None,None,None,24481,1.19,15.8,39.36,38.5,...,13th and 14th grade,381,163,15,1884,1625,49,86,we are change in this video luke rudkowski co...,13.5
5611,Cerrar Normas comunitarias \nEl registro y la ...,0,None,None,None,29574,1.37,26.1,15.39,31.3,...,23rd and 24th grade,1050,576,11,3240,3157,141,292,cerrar normas comunitarias el registro y la a...,23.5
7436,The Debate Washington's Syria policy \nIn this...,0,None,None,None,32067,1.78,32.1,12.56,41.0,...,12th and 13th grade,119,77,1,392,380,11,48,the debate washington s syria policy in this ...,12.5
76207,Senator John McCain was overheard saying a sic...,0,politics,19 SECONDS OF DRAMA: After McCain’s Vote of Be...,"Jul 29, 2017",115725,1.78,32.1,14.01,42.1,...,32nd and 33rd grade,115,77,1,409,400,8,47,senator john mccain was overheard saying a sic...,32.5
57229,WARSAW (Reuters) - Below are details of the Eu...,1,worldnews,Factbox: EU launches action against Poland ove...,"December 20, 2017",95827,2.05,30.0,13.95,37.4,...,29th and 30th grade,893,547,8,2866,2836,104,347,warsaw reuters below are details of the eu...,29.5
10539,An internal OPCW (Organisation for the Prohibi...,0,None,None,None,40428,2.12,27.9,13.65,33.5,...,27th and 28th grade,202,120,2,635,621,23,75,an internal opcw organisation for the prohibi...,27.5
22900,Below are details of the European Commission s...,1,None,None,None,60218,2.35,29.8,13.95,37.3,...,29th and 30th grade,890,545,8,2850,2823,104,346,below are details of the european commission s...,29.5
9702,"Amnesty International, National Endowment for ...",0,None,None,None,35075,2.45,23.6,18.93,29.9,...,23rd and 24th grade,80,43,1,272,262,14,25,amnesty international national endowment for ...,23.5
9177,Leaked email shows Monsanto Executive V.P. inv...,0,None,None,None,34427,2.48,19.4,25.82,29.5,...,16th and 17th grade,1891,895,34,7172,6606,273,470,leaked email shows monsanto executive v p inv...,16.5
28995,The United Nation s aviation agency Internatio...,1,None,None,None,66533,2.79,19.3,18.92,21.2,...,18th and 19th grade,107,52,2,327,322,13,20,the united nation s aviation agency internatio...,18.5
53207,WASHINGTON (Reuters) - New emails the FBI is e...,1,politicsNews,FBI found Clinton-related emails on devices be...,"October 28, 2016",91683,2.79,25.5,17.02,32.0,...,31st and 32nd grade,94,51,1,302,294,14,24,washington reuters new emails the fbi is e...,31.5
52001,"(Reuters) - President-elect Donald Trump, in a...",1,politicsNews,Trump calls Russia reports 'fake news - a tota...,"January 11, 2017",90454,3.47,23.2,16.49,27.5,...,12th and 13th grade,79,42,1,249,238,9,23,reuters president elect donald trump in a...,12.5
15216,The U.S. Senate intelligence committee has ask...,1,None,None,None,52221,3.47,23.2,17.94,28.0,...,23rd and 24th grade,159,84,2,507,497,23,42,the u s senate intelligence committee has ask...,23.5
3544,Man Wearing ‘Jewmerica’ T-Shirt Never Dreamed ...,0,None,None,None,26663,3.64,27.3,14.99,34.0,...,12th and 13th grade,197,117,2,650,633,19,67,man wearing jewmerica t shirt never dreamed ...,12.5
1087,New Heavy-Duty Voting Machine Allows Americans...,0,None,None,None,23187,3.94,27.2,15.10,33.7,...,33rd and 34th grade,494,291,5,1608,1581,52,161,new heavy duty voting machine allows americans...,33.5
4846,Hostages Trapped Inside Walmart Insisting They...,0,None,None,None,28498,4.35,27.0,15.04,33.4,...,26th and 27th grade,864,520,9,2859,2817,82,297,hostages trapped inside walmart insisting they...,26.5
9936,Despite the outwardly “reassuring” mood of Eur...,0,None,None,None,37935,4.48,22.8,17.54,27.4,...,22nd and 23rd grade,78,41,1,247,240,12,19,despite the outwardly reassuring mood of eur...,22.5
9716,"The Hayat Tahrir al-Sham terrorist group, toge...",0,None,None,None,35135,4.48,22.8,18.93,28.2,...,22nd and 23rd grade,155,82,2,507,499,20,43,the hayat tahrir al sham terrorist group toge...,22.5
8326,Latest short list for Trump cabinet positions ...,0,None,None,None,33297,4.52,24.9,16.61,30.8,...,22nd and 23rd grade,1238,690,14,4035,3925,162,371,latest short list for trump cabinet positions ...,22.5
17644,U.S. President-elect Donald Trump continued to...,1,None,None,None,54723,4.82,24.8,15.33,30.0,...,24th and 25th grade,172,98,2,560,536,21,53,u s president elect donald trump continued to...,24.5
18966,New emails the FBI is examining related to Dem...,1,None,None,None,56091,4.82,24.8,16.38,30.2,...,15th and 16th grade,90,49,1,282,277,13,23,new emails the fbi is examining related to dem...,15.5
14490,The U.S. Department of Homeland Security said ...,1,None,None,None,51477,4.99,22.6,17.07,26.8,...,22nd and 23rd grade,157,81,2,480,467,21,45,the u s department of homeland security said ...,22.5
11374,The United States has failed to uphold a promi...,0,None,None,None,45608,5.50,28.6,13.07,35.4,...,28th and 29th grade,105,65,1,336,330,8,38,the united states has failed to uphold a promi...,28.5
2985,Email \n\nAccording to a report by an Emirati ...,0,None,None,None,25895,5.50,28.6,14.06,36.6,...,28th and 29th grade,105,65,1,353,341,9,42,email according to a report by an emirati me...,28.5
10755,The EU elites do not want to have a dialogue w...,0,None,None,None,41748,5.84,24.4,12.14,26.4,...,12th and 13th grade,85,48,1,243,236,11,27,the eu elites do not want to have a dialogue w...,12.5
11189,The sanctions imposed on Russia were a respons...,0,None,None,None,43662,5.84,24.4,15.97,29.2,...,12th and 13th grade,88,48,1,271,268,11,27,the sanctions imposed on russia were a respons...,12.5
10093,"The ""Wikileaks"" website published last Novembe...",0,None,None,None,38488,6.18,26.3,12.09,30.2,...,11th and 12th grade,93,56,1,281,275,10,36,the wikileaks website published last novembe...,11.5
3235,Googles Alphabet Experiment Misses Goal: Keep...,0,None,None,None,26237,6.54,17.9,29.94,31.6,...,17th and 18th grade,140,67,3,595,542,15,43,google s alphabet experiment misses goal keep...,17.5
61005,DUBAI (Reuters) - Saudi Arabia detained 11 pri...,1,worldnews,"Factbox: Saudi Arabia detains princes, ministe...","November 5, 2017",99690,6.85,24.0,17.25,30.8,...,23rd and 24th grade,344,188,4,1147,1090,45,89,dubai reuters saudi arabia detained pri...,23.5
11108,“Amid the hysteria over Russia’s planned milit...,0,None,None,None,43114,6.86,30.2,14.12,40.2,...,14th and 15th grade,109,72,1,392,375,8,44,amid the hysteria over russia s planned milit...,14.5
12233,U.S. Attorney General Jeff Sessions has asked ...,1,None,None,None,49094,7.22,21.8,17.71,26.3,...,21st and 22nd grade,578,306,8,1860,1815,78,151,u s attorney general jeff sessions has asked ...,21.5
18608,U.S. President-elect Donald Trump recently ann...,1,None,None,None,55718,7.46,23.7,17.94,30.7,...,23rd and 24th grade,1111,603,13,3708,3572,143,303,u s president elect donald trump recently ann...,23.5
80536,It s okay he was probably just a racist white ...,0,left-news,NARCISSIST OBAMA Stops Mid-Speech To Admonish ...,"Nov 1, 2016",125152,7.53,27.9,11.22,32.6,...,11th and 12th grade,100,63,1,301,300,12,43,it s okay he was probably just a racist white ...,11.5
3275,Get short URL 0 1 0 0 Relations between Moscow...,0,None,None,None,26289,7.83,21.5,16.55,25.1,...,21st and 22nd grade,427,226,6,1327,1294,60,113,get short url relations between moscow...,21.5
11392,An OSCE report accuses Ukrainian authorities o...,0,None,None,None,45893,7.87,23.6,13.25,26.4,...,23rd and 24th grade,81,46,1,243,235,9,32,an osce report accuses ukrainian authorities o...,23.5
7550,"Kaiser Sousa Oct 26, 2016 4:07 PM \nwhen i awo...",0,None,None,None,32226,8.07,29.7,12.96,38.8,...,12th and 13th grade,650,425,6,2236,2130,52,280,kaiser sousa oct pm when i awok...,12.5
545,An absolutely astonishing Security Council (SC...,0,None,None,None,22416,8.31,25.5,14.70,31.7,...,25th and 26th grade,1620,971,18,5402,5209,176,568,an absolutely astonishing security council sc...,25.5
1221,Man Wearing ‘Jewmerica’ T-Shirt Never Dreamed ...,0,None,None,None,23386,8.61,25.4,15.57,32.0,...,31st and 32nd grade,453,268,5,1517,1477,49,155,man wearing jewmerica t shirt never dreamed ...,31.5
7974,We Are Change \nIn this video Luke Rudkowski c...,0,None,None,None,32817,8.74,15.0,37.63,37.1,...,12th and 13th grade,337,154,13,1720,1481,38,90,we are change in this video luke rudkowski co...,12.5
11073,The South Ossetian side again expressed concer...,0,None,None,None,43017,8.88,23.2,14.81,26.9,...,12th and 13th grade,80,45,1,247,242,10,24,the south ossetian side again expressed concer...,12.5
9240,Noam Chomsky and Ralph Nader Recently Had Thei...,0,None,None,None,34492,8.88,23.2,17.89,30.2,...,23rd and 24th grade,82,45,1,278,266,9,23,noam chomsky and ralph nader recently had thei...,23.5
9950,Ukraine continues to violate the rights of the...,0,None,None,None,37978,8.88,23.2,18.81,30.3,...,-1th and 0th grade,83,45,1,279,273,14,24,ukraine continues to violate the rights of the...,0.5
11494,A grim report circulating in the Kremlin prepa...,0,None,None,None,47632,8.89,29.4,11.69,36.5,...,12th and 13th grade,106,70,1,341,335,9,46,a grim report circulating in the kremlin prepa...,12.5

In [15]:
'Also have russian and arabic?, I only want English language. I will start here'

'Also have russian and arabic?, I only want English language. I will start here'

In [16]:
def has_cyrillic(text):
    return bool(re.search('[а-яА-Я]', text))

In [17]:
news_df.reset_index(drop = True, inplace = True)

In [19]:
x = len(news_df)
r_list = []
for i in range(x):
    if has_cyrillic(news_df['text'][i]) == True:
        r_list.append(i)

In [21]:
x1 = len(r_list)

In [23]:
r_df = news_df.filter(items=(r_list), axis=0)

In [26]:
r_df.reset_index(drop = True, inplace = True)

In [27]:
'''for i in range(x1):
    print(R_df['id'][i]) 
    print(R_df['text'][i])'''

"for i in range(x1):\n    print(R_df['id'][i]) \n    print(R_df['text'][i])"

In [28]:
'''
I ran the code commented out above to review the articles. In the end I decided to drop all of them as most where not English.
'''

'\nI ran the code commented out above to review the articles. In the end I decided to drop all of them as most where not English.\n'

In [29]:
news_df.drop(r_list, axis = 0, inplace = True)
news_df.reset_index(drop =True, inplace = True)

In [30]:
def has_arabic(text):
    return bool(re.search('^[\u0621-\u064A]', text))

In [31]:
x = len(news_df)
arabic = []
for i in range(x):
    if has_arabic(news_df['text'][i]) == True:
        arabic.append(i)

In [32]:
'''for i in arabic:
    print(News_df['text'][i])
    '''

"for i in arabic:\n    print(News_df['text'][i])\n    "

In [35]:
# Ran the above code and confirmed that these were arabic

In [34]:
news_df.drop(arabic, axis = 0, inplace = True)
news_df.reset_index(drop =True, inplace = True)

In [36]:
'''okay for the hard part, using the readability scores as fuzzy matching, values were chosen by trial and error.
Method assumes sorted values and is reasonably fast.
'''

'okay for the hard part, using the readability scores as fuzzy matching, values were chosen by trial and error.\nMethod assumes sorted values and is reasonably fast.\n'

In [33]:
'''These values and method was developed by trial and error and is catching fuzzy matches via readability scores.
This was not a 100% reliable method there were a very small number of false positives that were eliminated. However, the 
benefit was judged to be warranted'''

'These values and method was developed by trial and error and is catching fuzzy matches via readability scores'

In [38]:
start_time = time.time()
x = len(news_df)
dup = []
dup1 = []
for i in range(x-1):
        check = abs(news_df['fe_score'][i] - news_df['fe_score'][i+1])
        check1 = abs(news_df['word_count'][i] - news_df['word_count'][i+1])
        check2 = abs(news_df['std_score_num'][i] - news_df['std_score_num'][i+1])
        check3 = abs(news_df['cl_score'][i] - news_df['cl_score'][i+1])
        check4 = abs(news_df['dw_score'][i] - news_df['dw_score'][i+1])
        check5 = abs(news_df['gf_score'][i] - news_df['gf_score'][i+1])
        check6 = abs(news_df['dc_score'][i] - news_df['dc_score'][i+1])
        if check <.01 and check1 < 15 and check2 < 1 and check3 <.3 and check4 <3 and check5 <.5 and check6 <.2: 
            dup.append(i)
            dup1.append(i+1)
        
print("--- %s seconds ---" % (time.time() - start_time))

--- 14.95809030532837 seconds ---

In [39]:
#x = len(dup)
dup_f= dup +dup1
dup_f.sort()

In [40]:
'''pd.options.display.max_colwidth = 500
x = len(dup_f)
for i in range(x):
    print(News_df['text'][dup_f[i:20]])'''

"pd.options.display.max_colwidth = 500\nx = len(dup_f)\nfor i in range(x):\n    print(News_df['text'][dup_f[i:20]])"

In [42]:
'The commented out code above were almost all fuzzy duplicates. I will drop one set.'

'The commented out code above were almost all fuzzy duplicates. I will drop one set.'

In [44]:
news_df.drop(dup, inplace = True)

In [45]:
news_df.reset_index(drop = True, inplace = True)

In [46]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

In [48]:
start_time = time.time()
news_df['clean_text']= news_df['clean_text'].apply(lambda x:remove_punctuation(x))
news_df.head()
print("--- %s seconds ---" % (time.time() - start_time))

--- 46.51270771026611 seconds ---

In [49]:
news_df['clean_text'][:2]

0      st century wire says the investigation team ...
1    historical documents newly released by russia ...
Name: clean_text, dtype: object

In [50]:
wnl = WordNetLemmatizer()
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()

In [51]:
def lemmatize_text(text):
    return [wnl.lemmatize(w) for w in w_tokenizer.tokenize(text)]

In [52]:
start_time = time.time()
news_df['clean_text'] = news_df.clean_text.apply(lemmatize_text)
print("--- %s seconds ---" % (time.time() - start_time))

--- 328.9231264591217 seconds ---

In [53]:
news_df['clean_text'] = [' '.join(map(str, l)) for l in news_df['clean_text']]

In [54]:
news_df['clean_text'].apply(lambda x: x.lower())

0        st century wire say the investigation team at ...
1        historical document newly released by russia s...
2        sputnik estonia employee received letter from ...
3        wow what a list of accomplishment the problem ...
4        the unesco s revised edition of the internatio...
                               ...
82649    ukraine would sell even it nuclear bomb if the...
82650    monday on abc s the view joy behar said presid...
82651    i actually think you guy have done good work h...
82652    i will be a camera and would like to know if t...
82653    vote for trump we can do it get out and vote a...
Name: clean_text, Length: 82654, dtype: object

In [55]:
vectorizer = TfidfVectorizer(max_features = 500, stop_words = 'english')

In [56]:
X_train, X_test, y_train, y_test = train_test_split(news_df.drop(columns=['real', 'title', 'date', 'text', 'subject','std_score']), 
                                                    news_df.real, test_size=0.25, stratify = news_df.real,
                                                    random_state=1701)

In [57]:
X_train.reset_index(drop = True, inplace = True)
X_train.head(2)

,id,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,syllable_count,word_count,sentence_count,char_count,letter_count,polysyllab_count,monosyllab_count,clean_text,std_score_num
0,78511,65.73,7.6,9.10,8.5,9.41,166,7.375000,8.91,1140,786,56,3831,3656,83,542,want to get this briefing by email here s the ...,8.5
1,76190,48.27,14.3,12.37,18.6,9.88,113,21.666667,15.97,869,561,18,2914,2813,75,363,democratic unionist party leader arlene foster...,14.5

In [58]:
y_train.reset_index(drop = True, inplace = True)
y_train.head(2)

0    1
1    1
Name: real, dtype: int64

In [59]:
X_test.reset_index(drop = True, inplace = True)
X_test.head(2)

,id,fe_score,fk_score,cl_score,ari_score,dc_score,dw_score,ls_score,gf_score,syllable_count,word_count,sentence_count,char_count,letter_count,polysyllab_count,monosyllab_count,clean_text,std_score_num
0,71266,69.11,8.3,9.28,10.5,8.55,89,8.166667,10.38,759,533,28,2532,2440,60,380,donald j trump took credit on wednesday for a ...,8.5
1,77753,63.73,10.4,10.33,13.6,8.61,213,13.750000,12.83,1908,1338,55,6505,6308,137,946,the summer olympics in rio de janeiro may end ...,13.5

In [60]:
y_test.reset_index(drop = True, inplace = True)
y_test.head(2)

0    1
1    1
Name: real, dtype: int64

In [61]:
'Code adapted from Data Camp slides'

'Code adapted from Data Camp slides'

In [62]:
start_time = time.time()
news_train_trans = vectorizer.fit_transform(X_train['clean_text'])
print("--- %s seconds ---" % (time.time() - start_time))

--- 36.42403483390808 seconds ---

In [63]:
news_test_trans = vectorizer.transform(X_test['clean_text'])

In [65]:
news_test_df = pd.DataFrame(news_test_trans.toarray(), 
                          columns=vectorizer.get_feature_names_out()).add_prefix('TFIDF_')
news_test_df.head(2)

,TFIDF_able,TFIDF_access,TFIDF_according,TFIDF_account,TFIDF_accused,TFIDF_act,TFIDF_action,TFIDF_actually,TFIDF_added,TFIDF_administration,...,TFIDF_won,TFIDF_word,TFIDF_work,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrote,TFIDF_year,TFIDF_york,TFIDF_young
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.04306,0.079719,...,0.000000,0.0,0.037984,0.0,0.0,0.000000,0.0,0.050592,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03044,0.000000,...,0.064104,0.0,0.000000,0.0,0.0,0.343723,0.0,0.000000,0.0,0.0

In [66]:
news_train_df = pd.DataFrame(news_train_trans.toarray(), 
                          columns=vectorizer.get_feature_names_out()).add_prefix('TFIDF_')
news_train_df.head(2)

,TFIDF_able,TFIDF_access,TFIDF_according,TFIDF_account,TFIDF_accused,TFIDF_act,TFIDF_action,TFIDF_actually,TFIDF_added,TFIDF_administration,...,TFIDF_won,TFIDF_word,TFIDF_work,TFIDF_worker,TFIDF_working,TFIDF_world,TFIDF_wrote,TFIDF_year,TFIDF_york,TFIDF_young
0,0.000000,0.0,0.0,0.0,0.073841,0.0,0.0,0.0,0.06195,0.0,...,0.000000,0.000000,0.054647,0.0,0.000000,0.053810,0.0,0.036393,0.061541,0.0
1,0.073135,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.00000,0.0,...,0.067625,0.072737,0.113305,0.0,0.068093,0.055785,0.0,0.000000,0.000000,0.0

In [67]:
examine_row = news_train_df.iloc[0]

In [68]:
examine_row.sort_values(ascending = False)

TFIDF_woman     0.313603
TFIDF_mr        0.271877
TFIDF_job       0.255753
TFIDF_want      0.204045
TFIDF_group     0.201539
                  ...
TFIDF_help      0.000000
TFIDF_held      0.000000
TFIDF_health    0.000000
TFIDF_head      0.000000
TFIDF_young     0.000000
Name: 0, Length: 500, dtype: float64

In [69]:
news_train_df = pd.concat([X_train, news_train_df], axis = 1, sort = False)

In [70]:
news_test_df = pd.concat([X_test, news_test_df], axis = 1, sort = False)

In [71]:
news_train_df.to_pickle('News_train_df.pkl')

In [72]:
news_test_df.to_pickle('News_test_df.pkl')

In [73]:
y_train.to_pickle('y_train.pkl')

In [74]:
y_test.to_pickle('y_test.pkl')