In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from functools import reduce
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct
from rapidfuzz import fuzz
import ftfy
import re

In [2]:
#First three datasets come from https://www.kaggle.com/datasets/stevenpeutz/misinformation-fake-news-text-dataset-79k

In [5]:
FN1 = pd.read_csv('DataSet_Misinfo_FAKE.csv', index_col=0)

In [6]:
FN1

                                                    text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
44422  The USA wants to divide Syria.\r\n\r\nGreat Br...
44423  The Ukrainian coup d'etat cost the US nothing ...
44424  The European Parliament falsifies history by d...
44425  The European Parliament falsifies history by d...
44426  A leading FSB officer, Segey Beseda, said duri...

[43642 rows x 1 columns]

In [7]:
FN1.head()

                                                text
0  Donald Trump just couldn t wish all Americans ...
1  House Intelligence Committee Chairman Devin Nu...
2  On Friday, it was revealed that former Milwauk...
3  On Christmas day, Donald Trump announced that ...
4  Pope Francis used his annual Christmas Day mes...

In [8]:
FN1.columns

Index(['text'], dtype='object')

In [7]:
#Adding a column to label it as real news or fake news as the datasets themselves were not labeled excpt for filename

In [9]:
FN1['real'] = 0

In [10]:
FN1

                                                    text  real
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
44422  The USA wants to divide Syria.\r\n\r\nGreat Br...     0
44423  The Ukrainian coup d'etat cost the US nothing ...     0
44424  The European Parliament falsifies history by d...     0
44425  The European Parliament falsifies history by d...     0
44426  A leading FSB officer, Segey Beseda, said duri...     0

[43642 rows x 2 columns]

In [11]:
FN1['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [12]:
TN1 = pd.read_csv('DataSet_Misinfo_TRUE.csv', index_col=0)

In [13]:
TN1.head()

                                                text
0  The head of a conservative Republican faction ...
1  Transgender people will be allowed for the fir...
2  The special counsel investigation of links bet...
3  Trump campaign adviser George Papadopoulos tol...
4  President Donald Trump called on the U.S. Post...

In [14]:
TN1.columns

Index(['text'], dtype='object')

In [14]:
#Again adding a column to the data as it was not labelled as real or fake within dataset

In [15]:
TN1['real'] = 1

In [16]:
TN1

                                                    text  real
0      The head of a conservative Republican faction ...     1
1      Transgender people will be allowed for the fir...     1
2      The special counsel investigation of links bet...     1
3      Trump campaign adviser George Papadopoulos tol...     1
4      President Donald Trump called on the U.S. Post...     1
...                                                  ...   ...
34970  Most conservatives who oppose marriage equalit...     1
34971  The freshman senator from Georgia quoted scrip...     1
34972  The State Department told the Republican Natio...     1
34973  ADDIS ABABA, Ethiopia —President Obama convene...     1
34974  Jeb Bush Is Suddenly Attacking Trump. Here's W...     1

[34975 rows x 2 columns]

In [17]:
TN1['text'][0]

'The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a “fiscal conservative” on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBS’ “Face the Nation,” drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense “discretionary” spending on programs that support education, scientific research, infrastructure, public health and environmental protection. “The (Trump) administration has already been willing to say: ‘We’re going to increase non-defense discretionary spending ... by about 7 percent,’” Meadows, chairman of the small but influential House Freedom Caucus, said on the program. “Now, Democrats are saying that’s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I don’t see where the rationale is. ... Eventually you run out of other people’s money,” he said. Meadows was among Republicans who voted in late December for their party’s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. “It’s interesting to hear Mark talk about fiscal responsibility,” Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. “This is one of the least ... fiscally responsible bills we’ve ever seen passed in the history of the House of Representatives. I think we’re going to be paying for this for many, many years to come,” Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or “entitlement reform,” as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, “entitlement” programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryan’s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the “Dreamers,” people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. “We need to do DACA clean,” she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid.'

In [17]:
RusN = pd.read_csv('EXTRA_RussianPropagandaSubset.csv', index_col=0)

In [18]:
RusN

                                                   text
0     Ukraine has put itself in a situation when ext...
1     Regardless who was behind the recent attack on...
2     Pilsudski is a historical figure, who establis...
3     Washington (and to a large degree Brussels) ar...
4     The beneficiary of the resolution of the Europ...
...                                                 ...
7364  The USA wants to divide Syria.\r\n\r\nGreat Br...
7365  The Ukrainian coup d'etat cost the US nothing ...
7366  The European Parliament falsifies history by d...
7367  The European Parliament falsifies history by d...
7368  A leading FSB officer, Segey Beseda, said duri...

[7369 rows x 1 columns]

In [19]:
RusN.columns

Index(['text'], dtype='object')

In [21]:
#Russian propaganda extra dataset from Kaggle, again fake and needs labelled

In [20]:
RusN['real'] = 0

In [21]:
RusN

                                                   text  real
0     Ukraine has put itself in a situation when ext...     0
1     Regardless who was behind the recent attack on...     0
2     Pilsudski is a historical figure, who establis...     0
3     Washington (and to a large degree Brussels) ar...     0
4     The beneficiary of the resolution of the Europ...     0
...                                                 ...   ...
7364  The USA wants to divide Syria.\r\n\r\nGreat Br...     0
7365  The Ukrainian coup d'etat cost the US nothing ...     0
7366  The European Parliament falsifies history by d...     0
7367  The European Parliament falsifies history by d...     0
7368  A leading FSB officer, Segey Beseda, said duri...     0

[7369 rows x 2 columns]

In [22]:
RusN['text'][0]

'Ukraine has put itself in a situation when external forces dictate how it should solve its internal problems. Kyiv expected that its Western allies will put pressure on Russia in the Normandy Four format. However, the allies realised that their confrontation with Russia will cost them more. Emmanuel Macron and Angela Merkel supported Russia\'s position and put even bigger pressure on Ukraine than Vladimir Putin did. Eventually Zelenskyy found himself in solitude, because Russia, Germany, and France had nearly identical positions regarding the resolution of the civil conflict in Ukraine. Ukrainian politicians wrongfully remain confident that the West will always unconditionally support any Russophobic regime and that Ukraine can just carry out its foreign policy and security under the West\'s authority to enjoy its protection.\r\n\r\nUkraine could slam the door and declare that it no longer needs the Normandy format. However, it is the last remaining material evidence of Ukraine\'s unity with the West and of its "movement" towards Europe, which Kyiv can present to the Ukrainian people. If the truth is told to the Ukrainians that Europe, represented by Paris and Berlin, is already playing along with Russia, then Ukrainian people will reasonably question, for what were people sacrificed and state and society destroyed, if in the end, Europe betrayed Ukraine, Ukraine will never be in the EU, and a "bright future" will never come.'

In [25]:
# Remaining datasets come from https://www.kaggle.com/datasets/emineyetm/fake-news-detection-datasets

In [23]:
FN2 = pd.read_csv('FAKE.csv')

In [24]:
FN2

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [25]:
FN2['real'] = 0

In [26]:
FN2

,title,text,subject,date,real
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [27]:
FN2.isnull().values.any()

False

In [31]:
#Have to eliminate close duplicates

In [28]:
FN2['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [29]:
TN2 = pd.read_csv('TRUE.csv')

In [30]:
TN2.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [31]:
TN2.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [36]:
#This dataset also does not have a label for fake or real news

In [32]:
TN2['real'] = 1

In [33]:
TN2

,title,text,subject,date,real
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [39]:
#Concerning that the datasets seem to have to first articles as nearly identical.

In [34]:
TN2['text'][0]

'WASHINGTON (Reuters) - The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a “fiscal conservative” on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBS’ “Face the Nation,” drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense “discretionary” spending on programs that support education, scientific research, infrastructure, public health and environmental protection. “The (Trump) administration has already been willing to say: ‘We’re going to increase non-defense discretionary spending ... by about 7 percent,’” Meadows, chairman of the small but influential House Freedom Caucus, said on the program. “Now, Democrats are saying that’s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I don’t see where the rationale is. ... Eventually you run out of other people’s money,” he said. Meadows was among Republicans who voted in late December for their party’s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. “It’s interesting to hear Mark talk about fiscal responsibility,” Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. “This is one of the least ... fiscally responsible bills we’ve ever seen passed in the history of the House of Representatives. I think we’re going to be paying for this for many, many years to come,” Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or “entitlement reform,” as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, “entitlement” programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryan’s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the “Dreamers,” people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. “We need to do DACA clean,” she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid. '

In [41]:
#Combining the first three datasets as they have similar columns, method was chosen for less lines of code

In [35]:
News_df = reduce(lambda  left,right: pd.merge(left,right,on=['text', 'real'],
                                            how='outer'), [FN1, TN1, RusN])

In [36]:
News_df.columns

Index(['text', 'real'], dtype='object')

In [44]:
#This checks the first three datasets for empty values. Surprisingly there are some. I will eliminate them

In [37]:
News_df.isnull().values.any()

True

In [38]:
null_counts = News_df.isnull().sum()
null_counts[null_counts > 0].sort_values(ascending=False)

text    32
dtype: int64

In [39]:
News_df.dropna(inplace = True)
News_df

                                                    text  real
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
85403  It is not the border between Norway and Russia...     0
85404  NATO soldiers in uniforms are scaring away Rus...     0
85405  Russia agrees with China's stance on US and We...     0
85406  \r\n\r\nTallinn is fighting furiously with its...     0
85407  The Baltic states joined the Soviet Union in a...     0

[85376 rows x 2 columns]

In [40]:
News_df.isnull().values.any()

False

In [49]:
#Inserting these columns for ease of the reduce method of joining dataframes.

In [41]:
News_df['subject'] = np.nan
News_df['title'] = np.nan
News_df['date'] = np.nan

In [42]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,NaN,NaN,NaN
1,House Intelligence Committee Chairman Devin Nu...,0,NaN,NaN,NaN
2,"On Friday, it was revealed that former Milwauk...",0,NaN,NaN,NaN
3,"On Christmas day, Donald Trump announced that ...",0,NaN,NaN,NaN
4,Pope Francis used his annual Christmas Day mes...,0,NaN,NaN,NaN
...,...,...,...,...,...
85403,It is not the border between Norway and Russia...,0,NaN,NaN,NaN
85404,NATO soldiers in uniforms are scaring away Rus...,0,NaN,NaN,NaN
85405,Russia agrees with China's stance on US and We...,0,NaN,NaN,NaN
85406,\r\n\r\nTallinn is fighting furiously with its...,0,NaN,NaN,NaN
85407,The Baltic states joined the Soviet Union in a...,0,NaN,NaN,NaN

In [43]:
News_df.isnull().values.any()

True

In [44]:
News_df.isnull()

        text   real  subject  title  date
0      False  False     True   True  True
1      False  False     True   True  True
2      False  False     True   True  True
3      False  False     True   True  True
4      False  False     True   True  True
...      ...    ...      ...    ...   ...
85403  False  False     True   True  True
85404  False  False     True   True  True
85405  False  False     True   True  True
85406  False  False     True   True  True
85407  False  False     True   True  True

[85376 rows x 5 columns]

In [45]:
News_df = News_df.fillna('None')

In [46]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,None,None,None
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
2,"On Friday, it was revealed that former Milwauk...",0,None,None,None
3,"On Christmas day, Donald Trump announced that ...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
...,...,...,...,...,...
85403,It is not the border between Norway and Russia...,0,None,None,None
85404,NATO soldiers in uniforms are scaring away Rus...,0,None,None,None
85405,Russia agrees with China's stance on US and We...,0,None,None,None
85406,\r\n\r\nTallinn is fighting furiously with its...,0,None,None,None
85407,The Baltic states joined the Soviet Union in a...,0,None,None,None

In [57]:
#Combining all the data

In [47]:
News_df = reduce(lambda  left,right: pd.merge(left,right,on=['text', 'real', 'subject', 'title', 'date'],
                                            how='outer'), [News_df, TN2, FN2])

In [48]:
News_df

,text,real,subject,title,date
0,Donald Trump just couldn t wish all Americans ...,0,None,None,None
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
2,"On Friday, it was revealed that former Milwauk...",0,None,None,None
3,"On Christmas day, Donald Trump announced that ...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
...,...,...,...,...,...
130269,21st Century Wire says As 21WIRE reported earl...,0,Middle-east,McPain: John McCain Furious That Iran Treated ...,"January 16, 2016"
130270,21st Century Wire says It s a familiar theme. ...,0,Middle-east,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,"January 16, 2016"
130271,Patrick Henningsen 21st Century WireRemember ...,0,Middle-east,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,"January 15, 2016"
130272,21st Century Wire says Al Jazeera America will...,0,Middle-east,How to Blow $700 Million: Al Jazeera America F...,"January 14, 2016"
130273,21st Century Wire says As 21WIRE predicted in ...,0,Middle-east,10 U.S. Navy Sailors Held by Iranian Military ...,"January 12, 2016"

In [60]:
#Obviously there are duplicates, what might be a good cut off to eliminate the duplicates. Also are the datasets basically the
#same? Might be a limitation on Fake News training in general. 
#Partial was chosen as topics may be similar and reword certain ideas, but different news sources.

In [49]:
fuzz.partial_ratio(FN2['text'][0],FN1['text'][0])

100.0

In [50]:
x = (len(News_df['text'])-1)

In [64]:
#Traditional fuzzy matching was taking too long and 
#I did not need to compare every letter to itself.
#Also I limited number of characters and increased chunksize of text for increased efficiency with little theoretical downside. 
#Thus Tdidf was already implemented in the finding of near duplicates
#code adapted from https://towardsdatascience.com/fuzzy-matching-at-scale-84f2bfd0c536 and
#https://bergvca.github.io/2017/10/14/super-fast-string-matching.html
#citation for ftfy: Robyn Speer. (2021). ftfy (Version 6.0).

In [51]:
def ngrams(string, n = 3):
    string = ftfy.fix_text(string)
    string = string.encode('ascii', errors='ignore').decode()
    string = string.lower()
    chars_to_remove = [')',')','.','|','[',']','{','}',"'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',',' ')
    string = string.replace('-', ' ')
    string = string.title()
    string = re.sub(' +',' ',string).strip()
    string = ' '+ string +' '
    #string = re.sub(r'[,-./]|\sBD',r'', string) (test this later)
    ngrams = zip(*[string[i:40] for i in range (n)])
    return [''.join(ngram) for ngram in ngrams]

In [52]:
News_arts = News_df['text'].unique()
vectorizer = TfidfVectorizer(min_df=1, analyzer = ngrams)
tf_idf_matrix = vectorizer.fit_transform(News_arts)

In [67]:
#print(tf_idf_matrix)

In [53]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)
    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)
    return csr_matrix((data,indices,indptr),shape=(M,N))

In [54]:
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(),1000,.9)

In [55]:
def get_matches_df(sparse_matrix, name_vector, top=100):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [71]:
#Nothing below 1.0 seems to be an exact match, lets look at it sorted

In [56]:
matches_df = get_matches_df(matches, News_df['text'], top=1000)
matches_df = matches_df[matches_df['similairity'] < 0.99999]
matches_df.sample(20)

,left_side,right_side,similairity
247,White House Chief of Staff John Kelly is a Fou...,"A Birmingham, Alabama ABC affiliate sought out...",0.978085
685,Donald Trump s conflicts of interest were of m...,Donald Trump s conflicts of interest are final...,0.951444
73,Former reality show star Donald Trump just can...,Former reality show star Donald Trump has repe...,0.943566
86,Former reality show star Donald Trump has repe...,Former reality show star Donald Trump just can...,0.943566
376,Republicans are desperately trying to repeal O...,Republicans are desperately trying to fix Dona...,0.958093
800,Former reality show star Donald Trump launched...,(Reuters) - Six U.S. Senate Democrats on Thurs...,0.929603
241,White House Chief of Staff John Kelly is a Fou...,DUBAI (Reuters) - Iran said on Wednesday it ha...,0.978085
85,Former reality show star Donald Trump has repe...,(Reuters) - Six U.S. Senate Democrats on Thurs...,0.943566
698,Donald Trump s former campaign manager Paul Ma...,Former Donald Trump campaign manager Corey Lew...,0.902568
801,Former reality show star Donald Trump launched...,Former reality show star Donald Trump just can...,0.929603
243,White House Chief of Staff John Kelly is a Fou...,BNI Store Nov 6 2016 Like a good little sharia...,0.978085
71,Former reality show star Donald Trump just can...,WASHINGTON (Reuters) - U.S. Senate Democrats o...,0.943566
539,Milwaukee County Sheriff David Clarke seems li...,Brussels and Washington accuse Russia of inter...,0.989772
933,"Jared Kushner, Donald Trump s son-in-law, has ...",Donald Trump s son-in-law Jared Kushner has fo...,0.934733
797,Former reality show star Donald Trump launched...,WASHINGTON (Reuters) - U.S. Senate Democrats o...,0.941599
555,Hurricane Harvey devastated Texas on the 12th ...,Republican presidential candidate Donald Trump...,0.918197
798,Former reality show star Donald Trump launched...,Former reality show star Donald Trump has alwa...,0.941599
408,Special Counsel Robert Mueller has just droppe...,Hillary Clinton Hits Unfavorability High of 60...,0.908681
739,Former reality show star Donald Trump has alwa...,Former reality show star Donald Trump launched...,0.941599
391,"James Clapper, the Director of National Intell...",James Clapper was the Director of National Int...,0.920220

In [73]:
#It seems that we can reasonably assume that less than 1.0 are not duplicates

In [57]:
matches_df.sort_values(['similairity'], ascending=False).head(20)

,left_side,right_side,similairity
540,Milwaukee County Sheriff David Clarke seems li...,NATO intends to turn the entire country of Mon...,0.989772
539,Milwaukee County Sheriff David Clarke seems li...,Brussels and Washington accuse Russia of inter...,0.989772
247,White House Chief of Staff John Kelly is a Fou...,"A Birmingham, Alabama ABC affiliate sought out...",0.978085
241,White House Chief of Staff John Kelly is a Fou...,DUBAI (Reuters) - Iran said on Wednesday it ha...,0.978085
246,White House Chief of Staff John Kelly is a Fou...,Countering Hillary’s Coup With a Counter Coup ...,0.978085
245,White House Chief of Staff John Kelly is a Fou...,-Onions -Red peppers \nNotice they are all hea...,0.978085
244,White House Chief of Staff John Kelly is a Fou...,By LAURA MOWAT \nLocals are fuming because the...,0.978085
243,White House Chief of Staff John Kelly is a Fou...,BNI Store Nov 6 2016 Like a good little sharia...,0.978085
242,White House Chief of Staff John Kelly is a Fou...,The U.S. Justice Department on Monday said it ...,0.978085
5,House Intelligence Committee Chairman Devin Nu...,"If this keeps up, the Democrats will never win...",0.972830
374,Republicans are desperately trying to repeal O...,Republicans are desperately trying to convince...,0.963788
375,Republicans are desperately trying to repeal O...,Republicans are desperately trying to convince...,0.963788
921,It doesn t take a rocket scientist to know tha...,It doesn t take a rocket scientist to figure o...,0.962496
376,Republicans are desperately trying to repeal O...,Republicans are desperately trying to fix Dona...,0.958093
7,House Intelligence Committee Chairman Devin Nu...,"The private investigator, Robert Mueller, had ...",0.952191
6,House Intelligence Committee Chairman Devin Nu...,"The private investigator, Robert Mueller, had ...",0.952191
560,"Immigration and Customs Enforcement, better kn...",Is this just one more case of an activist judg...,0.952147
685,Donald Trump s conflicts of interest were of m...,Donald Trump s conflicts of interest are final...,0.951444
889,Donald Trump s conflicts of interest are final...,Donald Trump s conflicts of interest were of m...,0.951444
86,Former reality show star Donald Trump has repe...,Former reality show star Donald Trump just can...,0.943566

In [75]:
#I am inclined for simplicity sake to remove all with a similarity of 1.0, but lets look at these first 5
#There are 226 'exact matches' much less than I was fearful of at the beginning
#But I have to remember that this is a sample of the dataset. And that this is potentially 25% of my data.
# Lets run the original

In [58]:
matches_df = get_matches_df(matches, News_df['text'], top=1000)
matches_df = matches_df[matches_df['similairity'] ==1.0]
matches_df.sample(20)

,left_side,right_side,similairity
816,Amateur president Donald Trump signed was for...,Amateur president Donald Trump signed was for...,1.0
425,You know how Donald Trump stubbornly refuses t...,You know how Donald Trump stubbornly refuses t...,1.0
820,"Every once in a while, it seems like Sen. Lind...","Every once in a while, it seems like Sen. Lind...",1.0
234,"Pearson, an educational publishing company, is...","Pearson, an educational publishing company, is...",1.0
406,Unless you ve been living under a rock since J...,Unless you ve been living under a rock since J...,1.0
787,Arizona Senator John McCain has never been a f...,Arizona Senator John McCain has never been a f...,1.0
861,Anthony Scaramucci is a terrible communication...,Anthony Scaramucci is a terrible communication...,1.0
855,Senator Lindsey Graham (R-SC) has never been a...,Senator Lindsey Graham (R-SC) has never been a...,1.0
946,A billionaire GOP donor is fed up with Donald ...,A billionaire GOP donor is fed up with Donald ...,1.0
277,Hahahahahahahaha. Hahahahahahahahahahahahahaha...,Hahahahahahahaha. Hahahahahahahahahahahahahaha...,1.0
338,"Former Red Sox pitcher Curt Schilling, the hos...","Former Red Sox pitcher Curt Schilling, the hos...",1.0
441,An Ohio fireman from Franklin Township has jus...,HONOLULU/NEW YORK (Reuters) - Just hours befor...,1.0
581,Donald Trump is about to get his first real te...,Donald Trump is about to get his first real te...,1.0
35,Donald Trump held a rally for Alabama Senate c...,Donald Trump held a rally for Alabama Senate c...,1.0
442,An Ohio fireman from Franklin Township has jus...,An Ohio fireman from Franklin Township has jus...,1.0
253,By now it s common knowledge that Donald Trump...,By now it s common knowledge that Donald Trump...,1.0
135,Convincing President Trump to release his tax ...,Convincing President Trump to release his tax ...,1.0
788,It looks like Donald Trump is going to be a on...,It looks like Donald Trump is going to be a on...,1.0
578,A Category Four hurricane has hit Texas. It s ...,A Category Four hurricane has hit Texas. It s ...,1.0
173,"Donald Trump s scandal-ridden, chaotic White H...","Donald Trump s scandal-ridden, chaotic White H...",1.0

In [59]:
matches_df.head(10)

,left_side,right_side,similairity
0,Donald Trump just couldn t wish all Americans ...,Donald Trump just couldn t wish all Americans ...,1.0
8,"On Friday, it was revealed that former Milwauk...","On Friday, it was revealed that former Milwauk...",1.0
11,The number of cases of cops brutalizing and ki...,The number of cases of cops brutalizing and ki...,1.0
17,Republicans are working overtime trying to sel...,Republicans are working overtime trying to sel...,1.0
21,Donald Trump just signed the GOP tax scam into...,Donald Trump just signed the GOP tax scam into...,1.0
25,Senate Majority Whip John Cornyn (R-TX) though...,Senate Majority Whip John Cornyn (R-TX) though...,1.0
35,Donald Trump held a rally for Alabama Senate c...,Donald Trump held a rally for Alabama Senate c...,1.0
37,"In America, we have been having a conversation...","In America, we have been having a conversation...",1.0
38,New questions are being asked about President ...,New questions are being asked about President ...,1.0
39,"On Wednesday, Donald Trump took a step no prev...","On Wednesday, Donald Trump took a step no prev...",1.0

In [60]:
matches_df.tail(10)

,left_side,right_side,similairity
953,A new report released by the Congressional Bud...,A new report released by the Congressional Bud...,1.0
961,The contrast between the Obama White House and...,The contrast between the Obama White House and...,1.0
966,A new report has just revealed that Fox News p...,A new report has just revealed that Fox News p...,1.0
973,"Secretary of State Rex Tillerson, America s to...","Secretary of State Rex Tillerson, America s to...",1.0
977,"For months now, the Republicans have been doin...","For months now, the Republicans have been doin...",1.0
985,"Donald Trump, at 71 years old, apparently just...","Donald Trump, at 71 years old, apparently just...",1.0
989,As the Russia stories surrounding the criminal...,As the Russia stories surrounding the criminal...,1.0
993,"By now, everyone is used to the rank ignorance...","By now, everyone is used to the rank ignorance...",1.0
995,It turns out that Donald Trump was abusing his...,It turns out that Donald Trump was abusing his...,1.0
998,Keeping in line with his constant backtracking...,Keeping in line with his constant backtracking...,1.0

In [79]:
#It seems reasonable to assume that anything identified as similarity of 1.0 is indeed a duplicate. 
#Now to remove them. 
#I have to be careful as these were a sample of my datasets. 
#Let's confirm I don't have more than 8000 duplicates

In [84]:
matches_df = get_matches_df(matches, News_df['text'], top=8000)
matches_df = matches_df[matches_df['similairity'] ==1.0]
matches_df.reset_index(inplace = True)

In [62]:
if matches_df['left_side'][0] == News_df['text'][0]:
    print(True)

True

In [82]:
#2278 out of 130274 are duplicates, let's check percentage

In [63]:
2278/130274

0.01748622134884935

In [84]:
#Less than 2 percent, that is perfectly reasonable given that we are working with a few data sets. 
#Let's remove these from News_df

In [86]:
# just checking to make sure that matches_df retained the entire article

In [65]:
matches_df['left_side'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [68]:
fuzz.ratio(News_df['text'][0],matches_df['left_side'][0])

100.0

In [99]:
News_df_s = News_df.sample(n = 1000)
News_df_s.reset_index(inplace = True)

In [100]:
x = len(matches_df)
dups = []
for i in range(1000):
    for j in range(x):
        if News_df_s['text'][i] is matches_df['left_side'][j]:
            print(i,j)
            dups.append(i)
dups

59 1005
79 500
436 1156
489 2087
588 2198
878 1333

[59, 79, 436, 489, 588, 878]

In [103]:
News_df_s['text'][59][:100]

'Before most of us were awake, Trump was busily focusing on solving the world s problems, diligently '

In [105]:
matches_df['left_side'][1005][:100]

'Before most of us were awake, Trump was busily focusing on solving the world s problems, diligently '

In [106]:
News_df_s['text'][79][:100]

'Last year, Trump claimed he was succeeding at saving manufacturing jobs by making individual deals w'

In [107]:
matches_df['left_side'][500][:100]

'Last year, Trump claimed he was succeeding at saving manufacturing jobs by making individual deals w'

In [108]:
News_df_s['text'][436][:100]

'Trump supporters are FURIOUS after a member of the choir took a courageous stand.Donald Trump and hi'

In [109]:
matches_df['left_side'][1156][:100]

'Trump supporters are FURIOUS after a member of the choir took a courageous stand.Donald Trump and hi'

In [110]:
News_df_s['text'][489][:100]

'After all the backlash Trump received for saying that Obama was literally the founder of ISIS, he tr'

In [112]:
matches_df['left_side'][2087][:100]

'After all the backlash Trump received for saying that Obama was literally the founder of ISIS, he tr'

In [113]:
News_df_s['text'][588][:100]

'There were several powerful, captivating speeches that marked Hillary Clinton s Democratic National '

In [115]:
matches_df['left_side'][2198][:100]

'There were several powerful, captivating speeches that marked Hillary Clinton s Democratic National '

In [116]:
News_df_s['text'][878][:100]

'A senator from Pennsylvania is asking the Department of Justice to step in following widespread medi'

In [118]:
matches_df['left_side'][1333][:100]

'A senator from Pennsylvania is asking the Department of Justice to step in following widespread medi'

In [ ]:
# This for loop seems to adequately find the indices of the duplicates lets do this and check on the full dataset. 
#

In [119]:
x = len(matches_df)
y = len(News_df)
dups = []
for i in range(y):
    for j in range(x):
        if News_df['text'][i] is matches_df['left_side'][j]:
            verify.append(j)
            dups.append(i)
dups

[0,
 2,
 5,
 11,
 15,
 19,
 28,
 30,
 31,
 32,
 40,
 47,
 49,
 50,
 56,
 61,
 61,
 63,
 68,
 77,
 77,
 78,
 79,
 82,
 82,
 85,
 87,
 97,
 98,
 98,
 101,
 102,
 104,
 105,
 106,
 109,
 118,
 123,
 126,
 129,
 131,
 135,
 137,
 138,
 154,
 158,
 158,
 166,
 169,
 170,
 172,
 176,
 184,
 188,
 190,
 191,
 192,
 192,
 195,
 196,
 204,
 210,
 212,
 217,
 221,
 223,
 224,
 226,
 227,
 230,
 238,
 240,
 248,
 262,
 263,
 272,
 274,
 277,
 282,
 284,
 289,
 293,
 297,
 301,
 312,
 316,
 316,
 323,
 323,
 331,
 332,
 335,
 337,
 338,
 338,
 338,
 339,
 348,
 349,
 353,
 354,
 355,
 356,
 359,
 362,
 364,
 368,
 369,
 369,
 370,
 370,
 371,
 394,
 394,
 402,
 404,
 412,
 423,
 423,
 437,
 443,
 444,
 446,
 447,
 450,
 451,
 458,
 458,
 460,
 461,
 465,
 467,
 468,
 470,
 471,
 472,
 477,
 481,
 491,
 491,
 494,
 497,
 497,
 505,
 508,
 509,
 510,
 511,
 523,
 527,
 536,
 540,
 545,
 552,
 553,
 562,
 563,
 564,
 580,
 582,
 585,
 590,
 591,
 595,
 596,
 603,
 611,
 613,
 623,
 623,
 623,
 623,
 623,
 623,
 623,
 624,
 625,
 628,
 631,
 632,
 634,
 650,
 651,
 659,
 664,
 664,
 665,
 666,
 674,
 685,
 687,
 688,
 692,
 700,
 702,
 720,
 724,
 725,
 726,
 729,
 731,
 735,
 743,
 744,
 748,
 764,
 767,
 768,
 770,
 777,
 779,
 780,
 800,
 806,
 807,
 808,
 815,
 823,
 827,
 834,
 838,
 846,
 850,
 854,
 856,
 859,
 864,
 870,
 875,
 880,
 883,
 889,
 897,
 898,
 907,
 910,
 917,
 925,
 925,
 925,
 925,
 925,
 925,
 925,
 929,
 930,
 932,
 933,
 940,
 944,
 950,
 953,
 957,
 958,
 964,
 967,
 967,
 973,
 975,
 982,
 983,
 991,
 1005,
 1005,
 1010,
 1011,
 1015,
 1017,
 1023,
 1027,
 1032,
 1033,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1041,
 1054,
 1060,
 1070,
 1072,
 1076,
 1078,
 1080,
 1084,
 1088,
 1088,
 1089,
 1094,
 1097,
 1098,
 1099,
 1105,
 1107,
 1111,
 1112,
 1115,
 1118,
 1124,
 1130,
 1131,
 1132,
 1133,
 1136,
 1144,
 1147,
 1150,
 1154,
 1155,
 1156,
 1162,
 1163,
 1168,
 1173,
 1179,
 1190,
 1191,
 1193,
 1194,
 1202,
 1206,
 1207,
 1212,
 1213,
 1221,
 1225,
 1229,
 1229,
 1229,
 1229,
 1231,
 1246,
 1249,
 1250,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1253,
 1254,
 1254,
 1274,
 1275,
 1276,
 1279,
 1288,
 1289,
 1289,
 1294,
 1295,
 1297,
 1302,
 1307,
 1308,
 1310,
 1312,
 1315,
 1322,
 1324,
 1327,
 1331,
 1332,
 1332,
 1336,
 1343,
 1354,
 1354,
 1354,
 1354,
 1354,
 1354,
 1354,
 1355,
 1356,
 1358,
 1358,
 1366,
 1367,
 1373,
 1385,
 1388,
 1391,
 1393,
 1393,
 1395,
 1396,
 1397,
 1398,
 1400,
 1401,
 1405,
 1406,
 1411,
 1419,
 1420,
 1423,
 1424,
 1435,
 1436,
 1437,
 1445,
 1446,
 1447,
 1452,
 1455,
 1458,
 1465,
 1468,
 1471,
 1476,
 1476,
 1478,
 1485,
 1489,
 1489,
 1489,
 1489,
 1489,
 1489,
 1489,
 1493,
 1494,
 1499,
 1500,
 1503,
 1505,
 1506,
 1510,
 1516,
 1517,
 1523,
 1525,
 1526,
 1529,
 1530,
 1534,
 1540,
 1544,
 1544,
 1547,
 1550,
 1552,
 1559,
 1562,
 1564,
 1565,
 1570,
 1573,
 1576,
 1582,
 1582,
 1582,
 1582,
 1582,
 1582,
 1582,
 1585,
 1586,
 1596,
 1602,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1614,
 1616,
 1639,
 1650,
 1653,
 1658,
 1662,
 1662,
 1667,
 1670,
 1672,
 1679,
 1681,
 1682,
 1685,
 1690,
 1692,
 1701,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1703,
 1704,
 1706,
 1710,
 1718,
 1723,
 1724,
 1727,
 1730,
 1731,
 1731,
 1734,
 1734,
 1734,
 1734,
 1734,
 1734,
 1734,
 1737,
 1738,
 1754,
 1755,
 1759,
 1760,
 1772,
 1776,
 1786,
 1787,
 1797,
 1802,
 1810,
 1815,
 1815,
 1821,
 1824,
 1825,
 1829,
 1842,
 1843,
 1846,
 1851,
 1853,
 1853,
 1853,
 1854,
 1858,
 1860,
 1863,
 1865,
 1866,
 1870,
 1876,
 1878,
 1881,
 1883,
 1886,
 1887,
 1894,
 1894,
 1896,
 1898,
 1900,
 1909,
 1909,
 1912,
 1920,
 1921,
 1923,
 1926,
 1933,
 1937,
 1937,
 1937,
 1939,
 1943,
 1951,
 1961,
 1971,
 1980,
 1983,
 1990,
 1993,
 1998,
 1998,
 1999,
 2000,
 2002,
 2003,
 2006,
 2015,
 2018,
 2024,
 2025,
 2031,
 2033,
 2039,
 2040,
 2042,
 2051,
 2065,
 2068,
 2075,
 2079,
 2079,
 2082,
 2089,
 2089,
 2091,
 2095,
 2096,
 2110,
 2116,
 2133,
 2134,
 2135,
 2137,
 2143,
 2146,
 2147,
 2147,
 2151,
 2152,
 2153,
 2156,
 2159,
 2164,
 2175,
 2178,
 2179,
 2182,
 2183,
 2187,
 2190,
 2194,
 2196,
 2207,
 2216,
 2218,
 2220,
 2222,
 2231,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2239,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2257,
 2260,
 2261,
 2264,
 2269,
 2272,
 2277,
 2283,
 2296,
 2297,
 2303,
 2304,
 2305,
 2310,
 2312,
 2315,
 2318,
 2325,
 2339,
 2349,
 2351,
 2352,
 2370,
 2374,
 2376,
 2379,
 2383,
 2391,
 2400,
 2401,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2406,
 2412,
 2414,
 2415,
 2416,
 2417,
 2423,
 2425,
 2427,
 2428,
 2436,
 2450,
 2454,
 2455,
 2457,
 2461,
 2463,
 2463,
 2464,
 2469,
 2486,
 2491,
 2496,
 2498,
 2504,
 2505,
 2514,
 2519,
 2524,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2530,
 2535,
 2542,
 2543,
 2546,
 2554,
 2557,
 2568,
 2569,
 2572,
 2572,
 2573,
 2574,
 2574,
 2577,
 2580,
 2580,
 2584,
 2587,
 2591,
 2592,
 2593,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2601,
 2605,
 2606,
 2607,
 2608,
 2613,
 2614,
 2618,
 2624,
 2635,
 2636,
 2652,
 2655,
 2657,
 2670,
 2672,
 2673,
 2674,
 2676,
 ...]

In [120]:
len(dups)

2278

In [121]:
len(matches_df)

2278

In [124]:
len(verify)

2278

In [125]:
verify

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [ ]:
#verify is literally just the i of dups I want to look at some of the duplicates in dups e.g. 623

In [126]:
dups.index(623)

168

In [127]:
#code adapted from https://datagy.io/python-list-find-all-index/
#This finds all of the values of 623
def find_indices(list_to_check, item_to_find):
    indices = []
    for idx, value in enumerate(list_to_check):
        if value == item_to_find:
            indices.append(idx)
    return indices

print(find_indices(dups,623))

[168, 169, 170, 171, 172, 173, 174]

In [129]:
News_df['text'][623][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [131]:
matches_df['left_side'][168][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [132]:
matches_df['left_side'][169][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [133]:
matches_df['left_side'][170][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [134]:
matches_df['left_side'][171][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [135]:
matches_df['left_side'][172][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [136]:
matches_df['left_side'][173][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [137]:
matches_df['left_side'][174][:100]

'The current occupant of the White House has been quiet about his campaign promise to combat the opio'

In [ ]:
#Everything seems to checkout so I am going to go ahead and drop the found duplicates

In [138]:
dups = list(set(dups))
len(dups)

1345

In [139]:
News_df.drop(index = dups, inplace = True)

In [140]:
News_df

,text,real,subject,title,date
1,House Intelligence Committee Chairman Devin Nu...,0,None,None,None
3,"On Christmas day, Donald Trump announced that ...",0,None,None,None
4,Pope Francis used his annual Christmas Day mes...,0,None,None,None
6,Donald Trump spent a good portion of his day a...,0,None,None,None
7,In the wake of yet another court decision that...,0,None,None,None
...,...,...,...,...,...
130269,21st Century Wire says As 21WIRE reported earl...,0,Middle-east,McPain: John McCain Furious That Iran Treated ...,"January 16, 2016"
130270,21st Century Wire says It s a familiar theme. ...,0,Middle-east,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,"January 16, 2016"
130271,Patrick Henningsen 21st Century WireRemember ...,0,Middle-east,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,"January 15, 2016"
130272,21st Century Wire says Al Jazeera America will...,0,Middle-east,How to Blow $700 Million: Al Jazeera America F...,"January 14, 2016"
130273,21st Century Wire says As 21WIRE predicted in ...,0,Middle-east,10 U.S. Navy Sailors Held by Iranian Military ...,"January 12, 2016"

In [142]:
#Running one more time to verify that this indeed has removed all duplicates

In [147]:
News_df.reset_index(inplace = True)
x = len(matches_df)
y = len(News_df)
dups = []
for i in range(y):
    for j in range(x):
        if News_df['text'][i] is matches_df['left_side'][j]:
            dups.append(i)
dups

[]

In [ ]:
#It worked, let's save this dataframe for future use

In [148]:
News_df.to_pickle("News_df.pkl")