In [1]:
import pandas as pd
import numpy as np

In [3]:
ult_df = pd.read_json('logins.json')

In [4]:
ult_df.head()

           login_time
0 1970-01-01 20:13:18
1 1970-01-01 20:16:10
2 1970-01-01 20:16:37
3 1970-01-01 20:16:36
4 1970-01-01 20:26:21