In [1]:
import pandas as pd
import numpy as np

In [6]:
Boston_S = pd.read_csv('tmp49hxkfzo.csv')
Boston_S.head()

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
0,I152000196-00,2015-01-01 13:30:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1,I152000879-00,2015-01-04 01:58:00+00,E18,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
2,I152001014-00,2015-01-04 18:52:00+00,E5,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
3,I152002232-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
4,I152002233-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Female,Black or African American,Not Hispanic or Latinx,t

In [7]:
Boston_S

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
0,I152000196-00,2015-01-01 13:30:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1,I152000879-00,2015-01-04 01:58:00+00,E18,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
2,I152001014-00,2015-01-04 18:52:00+00,E5,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
3,I152002232-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
4,I152002233-00,2015-01-08 22:45:00+00,B2,Non-Fatal,Female,Black or African American,Not Hispanic or Latinx,t
...,...,...,...,...,...,...,...,...
1823,232036239,2023-05-10 00:18:00+00,B2,Non-Fatal,Male,Black or African American,NaN,t
1824,232036239,2023-05-10 00:18:00+00,B2,Non-Fatal,Female,Black or African American,NaN,t
1825,232035550,2023-05-07 21:39:23+00,A1,Non-Fatal,Female,Black or African American,NaN,t
1826,232037206,2023-05-13 03:32:00+00,C6,Non-Fatal,Male,Unknown,Hispanic or Latinx,f
1827,232037392,2023-05-13 21:35:00+00,C11,Non-Fatal,Male,White,Hispanic or Latinx,f

In [11]:
Boston_S_D = Boston_S[Boston_S['district'] == 'C11']
Boston_S_D

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
0,I152000196-00,2015-01-01 13:30:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
7,I152003226-00,2015-01-12 23:58:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
29,I152019839-00,2015-03-12 00:11:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
44,I152026538-00,2015-04-01 20:29:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
48,I152028582-00,2015-04-08 20:21:00+00,C11,Fatal,Male,Black or African American,Not Hispanic or Latinx,t
...,...,...,...,...,...,...,...,...
1814,232032268,2023-04-26 22:04:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,f
1817,232034509,2023-05-04 16:05:56+00,C11,Non-Fatal,Male,Black or African American,NaN,t
1818,232034509,2023-05-04 16:09:00+00,C11,Non-Fatal,Male,Black or African American,NaN,t
1822,232035584,2023-05-07 20:19:00+00,C11,Fatal,Male,White,Hispanic or Latinx,f
1827,232037392,2023-05-13 21:35:00+00,C11,Non-Fatal,Male,White,Hispanic or Latinx,f

In [12]:
Boston_S_D_MV = Boston_S_D[Boston_S_D['multi_victim']== 't']
Boston_S_D_MV

,incident_num,shooting_date,district,shooting_type_v2,victim_gender,victim_race,victim_ethnicity_NIBRS,multi_victim
48,I152028582-00,2015-04-08 20:21:00+00,C11,Fatal,Male,Black or African American,Not Hispanic or Latinx,t
49,I152028599-00,2015-04-08 20:20:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
51,I152029808-00,2015-04-12 21:51:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
52,I152029808-00,2015-04-12 21:51:00+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
71,I152042681-00,2015-05-24 16:16:27+00,C11,Non-Fatal,Male,Black or African American,Not Hispanic or Latinx,t
...,...,...,...,...,...,...,...,...
1751,222083762,2022-10-30 05:50:00+00,C11,Non-Fatal,Female,White,Hispanic or Latinx,t
1798,232014078,2023-02-21 19:36:33+00,C11,Fatal,Male,NaN,NaN,t
1799,232014078,2023-02-21 19:36:59+00,C11,Non-Fatal,Male,NaN,NaN,t
1817,232034509,2023-05-04 16:05:56+00,C11,Non-Fatal,Male,Black or African American,NaN,t
1818,232034509,2023-05-04 16:09:00+00,C11,Non-Fatal,Male,Black or African American,NaN,t